.cgConter{ width: 527px; margin: 100px auto 120px auto; overflow: hidden;}
.cgConter .conterRight{ width: 370px; float: right; font-size: 15px; color:#999;}
.cgConter .img1{ margin-top: 65px; }
.cgConter .new_arrival_zone{ display: none;}
.cgConter .page-title{ font-size: 24px; color:#2a2a2a;}
.cgConter .buttons-set{ display: none;}
.cgConter .done{ font-size: 13px; width: 120px; display: block; margin-top: 35px; height: 34px; line-height: 34px; border-radius: 5px; text-align: center; color:#fff; background: #f61665;}
.cgConter .done:hover{ background: #a61665; text-decoration: none;}
.cgConter .security{ width: 700px;height: 40px; line-height: 40px;margin: 20px auto 0 auto; text-align: center; display: block; background: #dcdcdc url(../images/jwx_new/suo.png) 260px center no-repeat; font-size: 14px; color:#2a2a2a;}
.cgConter .security:hover{ text-decoration: none; background-color: #acacac; }
.cgConter .page-title h1{ font-size: 24px;}
.cgConter .sub-title{
	color: #f60;
}
