.account-login-wrap{
	width: 1050px;
	margin: 0 auto;
	font-size: 14px;
	color: #333;
}
dt{
	font-weight: normal;
}
.register, .login {
	width: 49%;
	border: 1px solid #ccc;
	margin: 50px 0;
}
.register{
	float: left;
}
.login{
	float: right;
}
.register h2, .login h2 {
	margin: 0;
	font-size: 16px;
	font-weight: 300;
	height: 36px;
	line-height: 36px;
	background-color: #eee;
	padding-left: 12px;
	border-bottom:1px solid #CCC;
}
.register_tab {
	padding: 30px 20px 20px;
}
.register_tab dl {
	margin-bottom: 20px;
}
.register_tab dl dt {
	width: 140px;
	float: left;
	margin-top: 6px;
	margin-right: 10px;
	text-align: right;
}
.register_tab dl dd {
	width: 310px;
	float: left;
}
.short_inp1{
	width: 150px !important;
}
.stname {
	float: left;
	width: 150px;
}
.register_tab dl dd input {
	text-indent: 5px;
	background-color: white;
	border-radius: 0;
	width: 310px;
	height: 32px;
	padding: 5px 0;
	border: 1px solid #CCC;
}
.register_tab dl dd p {
	font-size: 12px;
	margin-top: 3px;
	color: #999;
}
.register_tabbuton{
	text-align: center;
}
.register_tabbuton .button {
	width: 300px;
	border: 0;
	background-color: #f60;
	color: #fff;
	font-size: 16px;
	text-align: center;
	height: 45px;
	display: inline-block;
	border-radius: 5px;
}
.register_terms {
	line-height: 13px;
	margin-bottom: 20px;
}
.register_terms .sp1 {
	width: 13px;
	height: 13px;
	position: relative;
}
.login_facebtn {
	background-color: #3881d6;
	border-radius: 5px;
	line-height: 38px;
	margin: 10px auto;
	width: 210px;
	height: 38px;
	overflow: hidden;
}
.login_facebtn a {
	color: #fff;
}
.login_facebtn .sp1 {
	width: 20%;
	float: left;
	border-right: 1px solid #60a5ea;
	box-sizing: border-box;
	text-align: center;
}
.login_facebtn .sp1 i{
	height: 38px; 
	display: inline-block;
}
.login_facebtn .sp1 i img {
	display: inline-block;
    height: 25px;
    margin-top: 7px;
}
.login_facebtn .sp2 {
	width: 80%;
	float: left;
	border-left: 1px solid #2666ba;
	box-sizing: border-box;
	text-align: center;
}
.register_tab dl dd p.forgot-psw{
	margin-top: 10px;
}
.forgot-psw a {
	color: #999;
	text-decoration: underline;
}
.forgot-psw a:hover {
	color: #f60;
}
.register_fackbook {
	border-top: 1px solid #CCC;
	position: relative;
	margin-top: 40px;
	padding-top: 30px;
}
.register_fackbook .or {
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-weight: 700;
	color: #999;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
	position: absolute;
	top: -18px;
	left: 47%;
}
.alert.alert-danger, .alert.alert-success{margin-top: 30px;}