#content{font-size: 14px;line-height: 24px;}
#content>h2{margin-bottom: 10px;padding-bottom: 10px;border-bottom: 1px solid #f4f2f1;}
.vip-level{font-size: 14px;margin-bottom: 30px;font-size: 22px;color: #f60;line-height: 34px;}
.vip-level img{margin-left: 8px;}
.vip-level-p{margin: 20px 0;font-size: 0px;}
.vip-level-p img{vertical-align: top;}
.vip-level-p span{font-size: 12px;color: #333;display: inline-block;line-height: 20px;margin-left: 6px;}
.vip-main ul{padding-left: 0;margin-top: 10px;color: #333;}
.vip-main ul li{margin-bottom: 10px;}
.vip-main ul span{font-size: 14px;color: #f60;}
.vip-main h3{margin: 0;margin-bottom: 10px;font-size: 22px;color: #f60;font-weight: normal;}
.vip-main h4{margin: 10px 0;font-size: 16px;color: #333;}
.vip-record{width: 100%;margin-bottom: 25px;}
.vip-record th{font-weight: normal;}
.vip-record th,.vip-record td{font-size: 16px;text-align: center;padding: 8px;border: 1px solid #cccccc;}
.vip-benefits{font-size: 14px;color: #333;margin-bottom: 25px;margin-top: 10px;}
.vip-note{font-size: 22px;color: #333;margin-top: 20px;margin-bottom: 10px;}
.vip-note-tip{font-size: 16px;color: #333;font-weight:bold}
.vip-level-top{position: relative;width: 100%;height: 70px;}
.vip-level-pg{position: absolute;margin-left: 7px;left: 0;top: 20px;display: none;}