
.dash{
	padding-bottom: 15px;
	border:1px solid #dcdcdc;
	margin-bottom: 40px;
}
.dash-info{
	margin-top: 18px;
	line-height: 32px;
	font-size: 18px;
	color: #000500;
}
.dash>h3{
	border-bottom: 2px solid #ff6600;
	font-size: 24px;
	line-height: 54px;
	margin: 0;
	color: #020000;
}
.dash-info>h3{
	margin: 0;
}
.dash-cont,.dash>h3{
	padding-left: 28px;
	padding-right: 28px;
}
.dash-info-username{
	margin-top: 8px;
	font-weight: bold;
}
.dash-info-coupon{
	margin-top: 28px;
}
.dash-help-cont{
	color: #020000;
	font-size: 14px;
}

.dash-help-vip{
	margin-top: 45px;
}
.dash-help-cont i.fa{
	font-size: 28px;
	margin-right: 25px;
	margin-bottom: 32px;
}
.dash-help-cont .dash-help-email a{
	color: #0033f8;
}
.dash-help-cont .dash-help-email a:hover{
	color: #020000;
}
.dash-help-form{
	padding-right: 20px;
	margin-left: 50px;
}
.dash-help-form-text textarea{
	vertical-align:middle;
	resize: none;
	margin-left: 17px;
	width: 670px;
	height: 125px;
}
.dash-help-sub-wrap{
	text-align: right;
	color: #ff6600;
}
.dash-help-form-sub{
	width: 120px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	color: #fff;
	border: none;
	background: #ff6600;
	margin-top: 38px;
	margin-bottom: 8px;
}
.recent-new .row{
	margin: 35px 0;
}
.recent-new{
	margin-top: 50px;
}
.recent-new h3{
	margin-top: 50px;
}
.dash-product-box{
	width: 268px;
	margin: 0 16px;
}
.dash-product-caption{
	text-align: center;
}
.dash-product-image{
	
	text-align: center;
	
}
.dash-product-image a{
	width: 228px;
	min-height: 228px;
	display: inline-block;
}
.dash-product-image img{
	width: 100%;
}
.dash-product-caption-color{
	position: relative;
	display: inline-block;
	background: #1b1b1b;
	height: 31px;
	line-height: 31px;
	color: #f1f1f1;
	font-size: 13px;
	padding: 0 8px;
	width: 194px;
	text-align: center;
}
.dash-product-caption-color .sanjiao{
	position: absolute;
	height: 0;
	width: 0;
	top: 0;
	right: -5px;
	border-left: 5px solid #1b1b1b;
	border-top: 15px solid transparent;
	border-bottom: 16px solid transparent;
}
.dash-product-caption-name a{
	color: #9d9b9b;
	line-height: 24px;
	font-size: 16px;
}
.dash-product-caption-name a:hover{
	color: #f60;
}






