@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: cambria;
    src: url("../font/cambriab.ttf")
}
.common-home{ font-family: cambria;; }
.company{
		margin-top: 20px;
	}
	
.company_left {	
	width: auto;
	float: left;
	margin-top: 15px;
}


.company_left ul li {
	text-indent: 12px;
	background-color: #e5e5e5;
	border-bottom: 1px solid #b6b6b6;
	padding-bottom: 5px;
}
.company_left ul li.on a{
	color: #f60;
}
.company_left ul li h2 {
	font-size: 14px;
	padding: 5px 0;
}
.company_left ul li a {
	text-indent: 22px;
	display: block;
	padding-bottom: 5px;
	font-size: 14px;
}
.company_left ul li a.f_fr {
	margin-right: 23px;
}
.company_left ul li a.clr {
	color: #f60;}
.company_left ul li a:hover {
	color: #f60;
}
.company_right {
	float: right;
	width: 770px;
}
.company_right_h2 {
	font-size: 18px;
	border-bottom: 1px solid #ccc;
	margin: 5px 0 15px;
	padding: 4px 4px 10px;
}
.company_right_dl dt {
	float: left;
	margin-right: 15px;
	width: 300px;
}
.company_right_dl dd button {
	background-color: #f60;
	border: 0 none;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	padding: 1px 10px 3px;
	margin-top: 30px;
}
.company_right_dl dd button img {
	margin-right: 7px;
}
.company_right_dl dd p {
	font-size: 15px;
	line-height: 25px;
}
.company_right_table i.company_icon {
	width: 11px;
	height: 11px;
	display: inline-block;
	background: url(/catalog/view/theme/default/images/tzx/company/icon_yes.png) no-repeat center center;
}

.company_trustab td {
	border: 1px dotted #CCC;
}
.company_trustab {
	border: 1px solid #CCC;
}
.company_trustab td {
	padding: 7px;
}
.compny_trustpp {
	line-height: 21px;
}
.compny_trustpp img {
	margin-right: 15px;
}
.company_quality h4 {
	font-size: 18px;
	margin-bottom: 10px;
}
.company_quality .quali1 img {
	margin: 15px 0;
}
.company_quality h4 i {
	width: 18px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	border-radius: 50%;
	margin-top: 4px;
	margin-right: 7px;
	color: #fff;
	background-color: #000;
}
.company_quality .quali1 {
	font-size: 16px;
	margin-bottom:50px;
}

.company_shiphd h1 {
	font-size: 27px;
	margin-bottom: 10px;
	text-align: center;
}
.company_shiphd {
	margin-top: 20px;
	margin-bottom: 40px;
}
.company_shiptab tr {
	border-bottom: 1px solid #ccc;
}
.company_shiptab tr td {
	padding: 7px;
	text-align: center;
}
.company_shipfont {
	margin-bottom: 30px;
}
.company_shipfont h2 {
	font-size: 16px;
	margin-bottom: 5px;
}
.company_shiptabk td, .company_shiptabk th {
	padding: 7px 15px;
}
.company_shiptabk th {
	font-weight: 700;
}
.comrefund_hd {
	font-size: 16px;
	color: #666;
	padding: 5px 0px;
}
.comrefund_mianhd h2 {
	margin-bottom: 5px;
	font-size: 25px;
	color: #f60;
}
.comrefund_mianhd {
	margin-bottom: 20px;
}
.comrefund_ul li {
	margin: 10px 0 10px 20px;
	line-height: 18px;
	list-style-type: disc;
}
.comrefund_botom p {
	margin:10px 0;}
.info_tips{position:unset;}
.company_left ul li h2{
	margin: 0;
}
.company_left ul li a{
	color: #333;
}
.company p{
	margin: 0;
}
#conus{
		color: black;
	}
	#conus:hover{
		text-decoration: underline;
		color: #f60;
	}
	
.footersort_right {
	float: right;
	width: 770px;
}
.footersort_left ul li {
	text-indent: 12px;
	background-color: #e5e5e5;
	border-bottom: 1px solid #b6b6b6;
	padding-bottom: 5px;
}
.footersort_left ul li h2 {
	font-size: 14px;
	padding: 5px 0;
	margin: 0;
}
.footersort_left ul li a {
	text-indent: 22px;
	display: block;
	padding-bottom: 5px;
	font-size: 14px;
}
.footersort_left ul li a.f_fr {
	margin-right: 23px;
}
.footersort_left ul li a{
	color: #333;
}
.footersort_left ul li a:hover {
	color: #f60;
}
.footersort_head {
	padding: 0 100px;
	text-align: center;
	margin-bottom: 40px;
}
.footersort_head h2 {
	font-size: 21px;
	margin: 15px 0;
}
.footersort_howvip .how1 p {
	margin: 10px 0;
}
.footersort_howvip {
	margin-bottom: 40px;
}
.footersort_howvip h4 {
	margin-bottom: 10px;
}
.footersort_howviptab td {
	padding: 7px;
	text-align: center;
	border: 1px solid #CCC;
}
.footersort_howvipul {
	margin-left:20px;}
.footersort_howvipul li {
	list-style-type:disc;
	margin:5px 0;}