/*首页轮播图*/
#slideshow1{
	margin-top: 0px;
	margin-bottom: 0;
}

#slideshow1 .owl-wrapper-outer {
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
#slideshow1 .owl-controls{
	text-align: center;
}
#slideshow1 .owl-controls .owl-pagination{
	display: inline-block;
	position: absolute;
	bottom: 0;
	top:auto;
}
.idx-catg-box{
	margin-top: 50px;
	padding: 0;
}
.idx-catg-box li{
	float: left;
	width: 274px;
	height: 348px;
	overflow: hidden;
	margin-left: 13px;
	margin-right: 13px;
	text-align: center;
}
.idx-catg-box li img{
	border: 1px solid #f1f1f1;
	display: block;
	width: 272px;
	height: 285px;
	margin-bottom: 15px;
}
.idx-catg-box li a{
	font-size: 24px;
	color: #000;
}
.idx-prod-box{
	margin-top: 60px;
	padding: 0;
	margin-bottom:32px;
}
.idx-prod-box li{
	float: left;
	width: 285px;
	margin-right: 20px;
	margin-bottom: 25px;
	border: 0px solid #f1f1f1;
}
.idx-prod-box li:last-child{
	margin-right: 0px;
}
.idx-prod-box li:hover{
	box-shadow:0px 0px 20px #bbb;
}
.idx-prod-box li img{
	display: block;
	width: 100%;
}
.idx-prod-info{
	padding: 0 0px 0px 17px;
	margin-top:20px;
}
.idx-prod-name{
	text-align: left;
	display: block;
	margin-top: 8px;
	margin-bottom: 12px;
	font-size: 15px;
	color: #000;
	line-height: 1.1;
	height: 33px;
	overflow: hidden;
}
.price-new{
	font-size: 12px;
	color: #000;
}
