.inqry-list-table td{
	text-align: center;
}
.inqry-list-table.table>tbody>tr>td, .inqry-list-table.table>tbody>tr>th, .inqry-list-table.table>tfoot>tr>td, .inqry-list-table.table>tfoot>tr>th, .inqry-list-table.table>thead>tr>td, .table>thead>tr>th{
	vertical-align: middle;
}
.inqry-list-table thead td{
	height: 38px;
	color: #fff;
	background: #F60;
	font-size: 14px;
}
td.inqry-product-name{
	text-align: left;
	width: 300px;
}
.inqry-list-table tbody tr td{
	font-size: 14px;
	color: black;
}
.btn.btn-view,.btn.btn-cancel{
	border: none;
	font-size: 13px;
	border-radius: 0;
	width: 100px;
}
.btn.btn-view{
	background: #f60;
}
.btn.btn-cancel{
	background: #313131;
	color: white;
	display: inline-block;
	margin-top: 8px;
}
.btn.btn-cancel:hover{
	color: white;
}
.table>tbody>tr>.inqry-product-action{
	padding-left: 0;
	padding-right: 0;
}
.table>tbody>tr>.inqry-product-action a{
	margin-left: 5px;
	margin-right: 5px;
}
.inqry-list-tfoot{
	padding:12px  26px;
	background: #eee;
	border-bottom: 1px solid #dcdcdc;
}
.inqry-list-page-left,.inqry-list-page-right,.inqry-list-page-left ul{
	padding: 0;
}
.inqry-list-page-right{
	color: #000;
	padding-top: 8px;
	padding-bottom: 8px;
}
.inqry-list-page-left ul li span,.inqry-list-page-left ul li a{
	margin-bottom: 0;
}