	.product-detail-inquiry-wrap {
		text-align: left;
		padding: 10px 20px;
	}
	
	.product-detail-inquiry-title {
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		padding: 5px 20px;
		margin-bottom: 10px;
	}
	
	.product-detail-inquiry-title img {
		margin-right: 15px;
		float: left;
		vertical-align: middle;
	}
	.product-detail-inquiry-title span {
		float: right;
		width: 550px;
		line-height: 27px;
	}
	.inquiry-info {
		display: inline-block;
		width: 320px;
		overflow: hidden;
	}
	.productimg table{width: 100%;margin-bottom: 30px;}
	.productimg table th,.productimg table td{padding: 5px 3px;border: 1px solid #bcbcbc;}
	.inquiry-info>p,
	.inquiry-info-phone>p,
	.inquiry-info-textarea>p {
		margin: 0;
		line-height: 32px;
	}
	
	.inquiry-info-email,
	.inquiry-info-country {
		margin-left: 56px;
	}
	
	.inquiry-info>input,
	.inquiry-info>select {
		width: 300px;
		height: 30px;
	}
	
	.inquiry-info-phone {
		width: 100%;
	}
	
	.inquiry-info-phone>input {
		width: 100%;
		height: 30px;
	}
	
	.inquiry-info-textarea {
		width: 100%;
	}
	
	.inquiry-info-textarea>textarea {
		width: 100%;
		resize: none;
		height: 80px;
	}
	
	#popbox .tips .inquiry-info-btn {
		margin: 20px auto 0;
		display: block;
	}
	
	.product-detail-inquiry-wrap b {
		display: inline-block;
		color: #f00;
		font-size: 12px;
		text-indent: 4em;
	}
	
	.product-rating-rating {
		margin-right: 15px;
	}
	
	.product-rating-star {
		display: inline-block;
		margin: 0;
		padding: 0;
		vertical-align: text-bottom;
	}
	
	.product-rating-star li {
		float: left;
		width: 27px;
		height: 28px;
		margin: 0;
	}
	
	.product-rating-star li label {
		display: block;
		background: url(/catalog/view/theme/default/images/tzx/product/star.gif) no-repeat 0 0;
		width: 27px;
		height: 28px;
		margin: 0;
	}
	.jwx_productInfo .related .conter{
		position: relative;
		height: 335px;
	}
	.product-rating-star li input {
		display: none;
	}
	.jwx_productInfo .related dd{
		height: 335px;
	}
	.product_tabl_box{
		width: 50000px;
		position: absolute;
		top: 0;
		left: 0;
	}
.jwx_productInfo .related ul{
	width: 1060px;
}
.product_tabl_box .product_tabl .p1{
	width: 205px;
	height:205px;
}
.prodet_right_mian.qitasuxing>h3{
	text-align: right;
}
.product-post-img-title{
	font-size: 14px;
	line-height: 1.5;
	margin-bottom: 6px;
}
#product-post-img-box input[type=file]{
	margin-bottom: 6px;
}
.pro_length_hidden{
	display: none;
}
/*所选颜色*/
.color-selec-wrap{
	margin: 10px 0;
	font-size:18px;
	color: black;
}
.color-selec-txt{
	display: inline-block;
	font-size: 16px;
	text-indent: 1em;
}
.prodet_rig_color ul{
	margin-top: 20px;
}
/*长度*/
.new-product-rig-olor-box{
	width: 100%;
}
.jwx_productInfo .new-product-rig-olor-tip{
	width: 70px !important;
	float: left;
}
.jwx_productInfo .new-product-rig-olor{
	float: left;
}
.new-product-rig-olor div ul{
	width: 413px;
}
.new-product-rig-olor div .lengthgengduo{
	width: 413px;
	margin-top: 25px;
	margin-left: 25px;
	background: url(../../image/j_22.jpg) no-repeat -100px 0;
}
.jwx_productInfo .product_tabl li:hover p{
	text-decoration: none;
}
/*home面包屑微调*/
.container .breadcrumb{
	margin-left: -15px;
}
.container .breadcrumb>li:first-child{
	padding-left: 0;
}
/*会员体系改版*/
.price-go-login{
	font-size: 14px;
	color: #4082db;
}