/*CHECKBOX CUSTOM*/
  label.checkbox_container{
    position: relative;
    float: left;
    width: 45px;
  }
  label.checkbox_container:hover
  {
    cursor: pointer;
  }
  label.checkbox_container input[type="checkbox"] { 
    position: absolute;
    opacity: 0;
    left: -28px;
  }

  input[type="checkbox"].ios-switch + div {
    vertical-align: middle;
    width: 40px;  
    height: 20px;
    border: 1px solid rgba(0,0,0,.4);
    border-radius: 999px;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: .4s;
    -webkit-transition-property: background-color, box-shadow;
    box-shadow: inset 0 0 0 0px rgba(0,0,0,0.4);
  }

  input[type="checkbox"].ios-switch:checked + div {
    width: 40px;
    background-position: 0 0;
    background-color: #153964;
    border: 1px solid #154277;
    box-shadow: inset 0 0 0 10px #194e8d;
  }

  input[type="checkbox"].ios-switch + div > div {
    float: left;
    width: 18px; 
    height: 18px;
    border-radius: inherit;
    background: #ffffff;
    -webkit-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
    -webkit-transition-duration: 0.4s;
    -webkit-transition-property: transform, background-color, box-shadow;
    -moz-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
    -moz-transition-duration: 0.4s;
    -moz-transition-property: transform, background-color;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    margin-top: 1px;
    margin-left: 1px;
  }

  input[type="checkbox"].ios-switch:checked + div > div {
    -webkit-transform: translate3d(20px, 0, 0);
    -moz-transform: translate3d(20px, 0, 0);
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
  }
/*END CHECKBOX CUSTOM*/

/*IMPUTS CUSTOM*/
  input[type="text"].numbersOnly
  {
    width: 20px;
  }
  input[type="text"], input[type="password"], textarea, select{
    
    padding: 5px;   
    border: 1px solid #DDDDDD;
    
    /*Applying CSS3 gradient*/
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);    
    background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    
    /*Applying CSS 3radius*/   
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    /*Applying CSS3 box shadow*/
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;

    width: 200px;
    color: #797979;
  }

  input[type="text"]:hover,
  input[type="password"]:hover,
  textarea:hover
  {
      border:1px solid #cccccc;
  }
  input[type="text"]:focus,
  input[type="password"]:focus,
  textarea:focus
  {
      box-shadow:0 0 2px #3B89EC;
  }
/*END IMPUTS CUSTOM*/

/*BUTTONS CUSTOM*/
  .button2 {
      text-decoration: none;
      font: 14px;
      font-weight: bold;
      display: inline-block;
      text-align: center;
      color: #fff;    
      border: 1px solid #9c9c9c; /* Fallback style */
      border: 1px solid rgba(0, 0, 0, 0.3);
      text-shadow: 0 1px 0 rgba(0,0,0,0.4);    
      box-shadow: 0 0 .05em rgba(0,0,0,0.4);   
  }

  .button2, 
  .button2 span {
      -moz-border-radius: .3em;
      border-radius: .3em;
  }

  .button2 span {
      border-top: 1px solid #fff; /* Fallback style */
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      display: block;
      padding: 5px 19px;    
      /* The background pattern */
      background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent),
                        linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent),
                        linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%),
                        linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%);

      /* Pattern settings */
      background-size: 3px 3px;  
      color: #fff;          
  }

  .button2:hover {
      box-shadow: 0 0 .1em rgba(0,0,0,0.4);
  }

  .button2:active {
      /* When pressed, move it down 1px */
      position: relative;
      top: 1px;
  }

  .button-blue {
      background: #4477a1;
      background: -webkit-gradient(linear, left top, left bottom, from(#003A88), to(#4477a1) );
      background: -moz-linear-gradient(-90deg, #003A88, #4477a1);
      filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#003A88', endColorstr='#4477a1');
  }

  .button-blue:hover {
      background: #003A88;
      background: -webkit-gradient(linear, left top, left bottom, from(#4477a1), to(#003A88) );
      background: -moz-linear-gradient(-90deg, #4477a1, #003A88);
      filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4477a1', endColorstr='#003A88');            
  }

  .button-blue:active {
      background: #4477a1;
  }

/*END BUTTONS CUSTOM*/

/*CHECKBOX CUSTOM*/
  .custom_checkbox{
    background-image:url('../../image/OPQualityExtensions/checkbox.png');
    width: 15px;
    height: 15px;
  }
  .custom_checkbox.active{
    background-position: 0 -15px;
  }
  .custom_checkbox:hover{
    cursor: pointer;
  }
  .custom_checkbox input[type=checkbox]
  {
    margin: 0;
    opacity: 0;
    left: 0px;
    top: 0px;
    position: absolute;
    z-index: -1;
  }
  .custom_checkbox.disabled
  {
    background-position: 0 -30px;
  }
  .custom_checkbox.disabled:hover
  {
    cursor: default;
  }
/*END CHECKBOX CUSTOM*/

/*Tab help Opencart quality extensions*/
  div#tab_help
  {
    padding: 25px;
    font-size: 15px;
    line-height: 27px;
  }
  div#tab_help a.logo{
    position: relative;
    width: 200px;
    height: 151px;
    float: left;
    margin-right: 30px;
  }
  div#tab_help .message{
    border-top: 3px solid #eee;
    padding-top: 20px;
    margin-top: 30px;
  }
  div#tab_help .message
  {
    font-size: 19px;
  }
/*END Tab help Opencart quality extensions*/

.fa
{
  margin-right: 11px;
}


.box > .content h2 {
  color: #153964;
}