<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/index.css" />
		<script type="text/javascript" src="js/jquery.min.js" ></script>
		<script type="text/javascript" src="js/common.js" ></script>
		<title>COMPANY</title>
	</head>
	<body>
		<!--头部-->
		<div class="big_nav">
			<div class="nav content clearfix">
				<!--货币切换-->
				<div class="mn_type">
					<div class="top clearfix">
						<p>USD</p>
						<div class="pic_img">
							<img src="img/png/down.png" alt="" />
						</div>
					</div>
					<div class="bot">
						<span><em></em></span>
						<ul class="ul_type">
							<li><a href="###">EUR</a></li>
							<li><a href="###">NAN</a></li>
							<li><a href="###">ZAR</a></li>
						</ul>
					</div>
				</div>
				
				<!--logo-->
				<div class="logo">
					<a href="###">
						<img src="img/png/logo.png"/>
					</a>
				</div>	
				
				<!--whatApp-->
				<p class="whatapp"><img src="img/png/phone.png"/>WhatApp:+8615800028742</p>
				
				<!--pc导航-->
				<ul class="nav_ul clearfix">
					<li><a href="###">Home</a></li>
					<li>
						<a href="###">All Hair Collections</a>
						<div class="text clearfix">
							<ol class="clearfix">
								<li><a href="#">Double Drawn Funmi Hair</a></li>
		            			<li><a href="#">Virgin Brazilian Hair</a></li>
		            			<li><a href="#">Virgin Peruvian Hair (Normal Full)</a></li>
		            			<li><a href="#">Virgin Peruvian Hair (Very Full)</a></li>
							</ol>
						</div>
					</li>
					<li>
						<a href="###">Closure & Frontal & Wig</a>
						<div class="text clearfix">
							<ol>
								<li><a href="#">360 Frontal</a></li>
		   						<li><a href="#">Customized Bundles Wig</a></li>
		   						<li><a href="#">Lace Closure</a></li>
		   						<li><a href="#">Lace Frontal</a></li>
		   						<li><a href="#">Stock Lace Wig</a></li>
							</ol>
						</div>
					</li>
					<li><a href="###">Promotion</a></li>
					<li><a href="###">Hair Club</a></li>
					<li><a href="###">Company Profile</a></li>
				</ul>	
				
				<!--导航图标-->
				<div class="right">
					<ol class="img_ol clearfix fl">
						<li class="search_li"></li>
						<li class="login_li"></li>
						<li><a href="###"><span>0</span></a></li>
						<li class="cart_li"><span>0</span></li>
					</ol>
				</div>
				
				<!--搜索框-->
				<form class="search fl">
					<!--<input class="btn_in" type="submit" value="">-->
					<input class="text_in" type="text"placeholder="Search">
					<img class="close" src="img/png/close2.png"/>
				</form>
				
				<!--导航购物车-->
				<div class="nav_cart">
					<h1>MY SHOPPING CART(<span>5</span>) <div class="close"><img src="img/png/close2.png"/></div></h1>
					
					<div class="has">
						<ul class="cart_ul">
							<li class="clearfix">
								<a href="###">
									<div class="pic_img">
										<img src="img/jpg/index1_1.jpg"/>
									</div>
									<div class="text">
										<h2>Fuller Peruvian Virgin Hair </h2>
		 								<p>Body Wavy</p>
		 								<span>$15.39</span>
		 								<p><span>x1</span></p>
									</div>
								</a>
							</li>
							<li class="clearfix">
								<a href="###">
									<div class="pic_img">
										<img src=""/>
									</div>
									<div class="text">
										<h2>Fuller Peruvian Virgin Hair  </h2>
		 								<p>Body Wavy</p>
		 								<span>$15.39</span>
		 								<p><span>x1</span></p>
									</div>
								</a>
							</li>
							<li class="clearfix">
								<a href="###">
									<div class="pic_img">
										<img src=""/>
									</div>
									<div class="text">
										<h2>Fuller Peruvian Virgin Hair  </h2>
		 								<p>Body Wavy</p>
		 								<span>$15.39</span>
		 								<p><span>x1</span></p>
									</div>
								</a>
							</li>
							<li class="clearfix">
								<a href="###">
									<div class="pic_img">
										<img src=""/>
									</div>
									<div class="text">
										<h2>Fuller Peruvian Virgin Hair  </h2>
		 								<p>Body Wavy</p>
		 								<span>$15.39</span>
		 								<p><span>x1</span></p>
									</div>
								</a>
							</li>
						</ul>
						<hr />
						
						<div class="bot">
							<p class="p_top">Subtotal <span>$99.08</span></p>
							<p class="p_bot">Total <span>$99.08</span></p>
							<a class="a_btn" href="###">GO TO SHOPPING CART&nbsp;></a>
						</div>
					</div>
					
					<div class="null">
						<p>Your shopping cart is empty</p>
					</div>
				</div>
				
				<!--导航开关-->
				<div class="nav_off"></div>
				
				<!--移动导航-->
				<div class="yd_nav">
					<div class="top">
						<img class="menu" src="img/png/menu.png" alt="" />
						<img class="close" src="img/png/close2.png"/>
					</div>
					
					<ul>
						<li class="clearfix">
							<a href="javascript:0;">All Hair Collections <img class="slide_img" src="img/png/jiahao.png"/></a>
							<ol class="yd_nav_ol clearfix">
								<li class="clearfix"><a class="right_img" href="###">Double Drawn Funmi Hair </a></li>
								<li class="clearfix"><a class="right_img" href="###">Virgin Brazilian Hair </a></li>
								<li class="clearfix"><a class="right_img" href="###">Virgin Peruvian Hair (Normal Full) </a></li>
								<li class="clearfix"><a class="right_img" href="###">Virgin Peruvian Hair (Very Full) </a></li>
							</ol>
						</li>
						<li class="clearfix">
							<a href="javascript:0;">Closure & Frontal & Wig <img class="slide_img" src="img/png/jiahao.png"/></a>
							<ol class="yd_nav_ol clearfix">
								<li class="clearfix"><a class="right_img" href="###">360 Frontal </a></li>
								<li class="clearfix"><a class="right_img" href="###">Customized Bundles Wig</a></li>
								<li class="clearfix"><a class="right_img" href="###">Lace Closure </a></li>
								<li class="clearfix"><a class="right_img" href="###">Lace Frontal </a></li>
								<li class="clearfix"><a class="right_img" href="###">Stock Lace Wig </a></li>
							</ol>
						</li>
						<li class="clearfix">
							<a class="right_img" href="###">Promotion</a>
						</li>
						<li class="clearfix">
							<a class="right_img" href="###">Hair Club</a>
						</li>
						<li class="clearfix">
							<a class="right_img" href="###">Company Profile</a>
						</li>
					</ul>
				</div>
				
			</div>
		
		</div>
		<!--内容-->
		<div class="in_content company">
			<!--banner-->
			<div class="ny_bar" >
				<img class="changeimage" data-image='img/jpg/ny_bar1.jpg' data-mimage='img/jpg/yd_ny_bar1.jpg'  />
			</div>
			
			<div class="com_content">
				<div class="com_text">
					
					<div class="text_1 clearfix">
						<div class="top">
							<hr class="com_hr" />
							<span class="com_span"><i>01</i></span>
							<h1 class="com_h1">WHO WE ARE</h1>
							<p class="com_p">
								Hot Beauty Hair is a remarkable human hair supplier in China, providing best virgin human hair
								 with wholesale factory price. <br />
								 We specialize in best one donor 
								Brazilian hair, Peruvian Hair, Indian Hair and Luxury Funmi Hair.</br>
								We have own our production designing and developing team in factory.
							</p>
						</div>
						
						<img class="changeimage fl" data-image='img/jpg/com_1.jpg' data-mimage='img/jpg/yd_com_1.jpg'  />
						<img class="changeimage fr" data-image='img/jpg/com_2.jpg' data-mimage='img/jpg/yd_com_2.jpg'  />
					</div>
					
					<div class="text_2 clearfix">
						<div class="top">
							<hr class="com_hr" />
							<span class="com_span"><i>02</i></span>
							<h1 class="com_h1">WHAT YOU CAN GET FORM US</h1>
						</div>
						
						<ul class="clearfix">
							<li class="clearfix">
								<span>01</span>
								<div class="right">
									<h2>Best quality human hair</h2>
									<p class="pc_p">
										Hot beauty hair can always last </br>
										2-5 years, dye-able,minimum  </br>
										shedding and tangle free.
									</p>
									<p class="yd_p">
										Hot beauty hair can always last 2-5 years, dye-able,minimum shedding and tangle free.
									</p>
								</div>
							</li>
							<li class="clearfix">
								<span>02</span>
								<div class="right">
									<h2>Factory wholesale pricer</h2>
									<p class="pc_p">
										We collect raw material from remote  </br>
										Asia countries and produce by </br>
										ourselves just for saving your cost.
									</p>
									<p class="yd_p">
										We collect raw material from remote Asia countries and produce by ourselves just for saving your cost.
									</p>
								</div>
							</li>
							<li class="clearfix">
								<span>03</span>
								<div class="right">
									<h2 class="pc_h2">
										Professional quality-check team  </br>
										& warehouse packing team
									</h2>
									<h2 class="yd_h2">
										Professional quality-check team & warehouse packing team
									</h2>
									<p class="pc_p">
										We have 7 steps quality checking in  </br>
										factory and 3 steps checking in  </br>
										warehouse, ensured each single  </br>
										bundle is the best  </br>
										status before we present you.
									</p>
									<p class="yd_p">
										We have 7 steps quality checking in factory and 3 steps checking in  
										warehouse, ensured each single bundle is the best status before we present you.
									</p>
								</div>
							</li>
							<li class="clearfix">
								<span>04</span>
								<div class="right">
									<h2>Custom Order</h2>
									<p class="pc_p">
										Custom order is one of our speciality. </br>
										We can make you a custom wig with </br>
										your selected length, textures and Hair weft </br>
										with regular color made in 24-48 hours in our </br>
										work shop.For special color weft hair, we </br>
										can do it in several days or in 1 to 2 weeks.
									</p>
									<p class="yd_p">
										Custom order is one of our speciality. 
										We can make you a custom wig with
										your selected length, textures and Hair weft 
										with regular color made in 24-48 hours in our 
										work shop.For special color weft hair, we 
										can do it in several days or in 1 to 2 weeks.
									</p>
								</div>
							</li>
							<li class="clearfix">
								<span>05</span>
								<div class="right">
									<h2>Fast delivery time</h2>
									<p class="pc_p">
										48 hours delivery to USA, Canada </br>
										and Nigeria, 72 hours delivery to Europe, </br>
										4 -5 working days to Africa countries.
									</p>
									<p class="yd_p">
										48 hours delivery to USA, Canada
										and Nigeria, 72 hours delivery to Europe,
										4 -5 working days to Africa countries.
									</p>
								</div>
							</li>
							<li class="clearfix">
								<span>06</span>
								<div class="right">
									<h2 class="pc_h2">
										You can find us in all kinds of </br>
										Beauty Show
									</h2>
									<h2 class="yd_h2">
										You can find us in all kinds of Beauty Show
									</h2>
									<p class="pc_p">
										You can always find us in Atlanta Bronner  </br>
										Bro beauty show, Miami Asia-America  </br>
										Trade Show in USA every year. </br>
									</p>
									<p class="yd_p">
										You can always find us in Atlanta Bronner 
										Bro beauty show, Miami Asia-America  
										Trade Show in USA every year.
									</p>
								</div>
							</li>
						</ul>
						
					</div>
					
					<div class="text_3 clearfix">
						<div class="top">
							<hr class="com_hr" />
							<span class="com_span"><i>03</i></span>
							<h1 class="com_h1">OUR MISSION</h1>
						</div>
						
						<img class="changeimage fl" data-image='img/jpg/com_3.jpg' data-mimage='img/jpg/yd_com_3.jpg'  />
						<div class="right clearfix">
							<img src="img/png/bt1.png" alt="" />
							<p class="pc_p">
								Let customers from all over the world </br>
								can enjoy the beauty and value from </br>
								our services,</br>
								so that all members of the company </br>
								can enhance and achieve self-worth.</br>
							</p>
							<p class="yd_p">
								Let customers from all over the world can enjoy the beauty and value from our services,
								so that all members of the company can enhance and achieve self-worth.
							</p>
						</div>
						
					</div>
					
					<div class="text_4 clearfix">
						<div class="top">
							<hr class="com_hr" />
							<span class="com_span"><i>04</i></span>
							<h1 class="com_h1">HISTORY OF HOT BEAUTY</h1>
						</div>
						
						<div class="yuan"></div>
						
						<div class="hei_div clearfix">
							<div class="left clearfix">
								<ul>
									<li class="clearfix">
										<div class="text">
											<span>2017</span>
											<p class="pc_p">
												In April 2017, the Company established the "people-oriented" internal management <br />
												philosophy and advocated the principle of employing people as best as possible to <br />
												make the full use of it. In this way, the company has climbed a new height in the <br />
												management level. And Hot Beauty Hair established a "well-known enterprises" <br />
												"Bench-marking enterprise" corporate image in the industry.<br />
												In August 2017, the Hot Beauty Hair proposed new marketing models at the Atlanta<br /> 
												and Miami trade shows, gaining unanimous praise from local customers.
											</p>
											<p class="yd_p">
												In April 2017, the Company established the "people-oriented" internal management 
												philosophy and advocated the principle of employing people as best as possible to 
												make the full use of it. In this way, the company has climbed a new height in the 
												management level. And Hot Beauty Hair established a "well-known enterprises"
												"Bench-marking enterprise" corporate image in the industry.<br />
												In August 2017, the Hot Beauty Hair proposed new marketing models at the Atlanta
												and Miami trade shows, gaining unanimous praise from local customers.
												
											</p>
										</div>
										<div class="xz_div">
											<span><i></i></span>
										</div>
									</li>
									<li class="clearfix">
										<div class="text">
											<span>2015</span>
											<p class="pc_p">
												In January 2015, the Company relocated to the foot of Baiyun Mountain and <br />
												independently owned a space of 500 square meters for office, conference and education.<br />
												In March 2015, through precise market positioning, the company are extending its <br />
												business to French and Spanish market.<br />
												In 2015, the company independently planned, constructed and promoted the new <br />
												brand "luvme hair" . And achieved great success. Hot beauty enterprise also<br />
												became the first company to take the independent website for brand promotion <br />
												in the human hair industry.
											</p>
											<p class="yd_p">
												In January 2015, the Company relocated to the foot of Baiyun Mountain and 
												independently owned a space of 500 square meters for office, conference and education.
												In March 2015, through precise market positioning, the company are extending its 
												business to French and Spanish market.<br />
												In 2015, the company independently planned, constructed and promoted the new 
												brand "luvme hair" . And achieved great success. Hot beauty enterprise also
												became the first company to take the independent website for brand promotion 
												in the human hair industry.
											</p>
										</div>
										<div class="xz_div">
											<span><i></i></span>
										</div>
									</li>
									<li class="clearfix">
										<div class="text">
											<span>2012</span>
											<p class="pc_p">
												In June 2012, the company clarified the concept of "team work", from previous <br />
												individual, into an age of team work operation.
											</p>
											<p class="yd_p">
												In June 2012, the company clarified the concept of "team work", from previous
												individual, into an age of team work operation.
											</p>
										</div>
										<div class="xz_div">
											<span><i></i></span>
										</div>
									</li>
									<li class="clearfix">
										<div class="text">
											<span>2011</span>
											<p class="pc_p">
												In July 2011, the founder Li Wendan officially registered the corporate identity of <br />
												"hete " and the trademark "hotbeauty" in Guangzhou, indicating that the new born <br />
												Hotbeauty will become a well-known enterprise in the hair industry. The same year, <br />
												Hot Beauty Hair's sales team expanded rapidly.<br />
												In 2010 and 2011, the company's products sold on Aliexpress won the industry's<br /> 
												first place. Hot Beauty 's fame began to spread extensively and establish the <br />
												status among the hair extension industry .
											</p>
											<p class="yd_p">
												In July 2011, the founder Li Wendan officially registered the corporate identity of 
												"hete " and the trademark "hotbeauty" in Guangzhou, indicating that the new born 
												Hotbeauty will become a well-known enterprise in the hair industry. The same year, 
												Hot Beauty Hair's sales team expanded rapidly.<br />
												In 2010 and 2011, the company's products sold on Aliexpress won the industry's
												first place. Hot Beauty 's fame began to spread extensively and establish the 
												status among the hair extension industry .
											</p>
										</div>
										<div class="xz_div">
											<span><i></i></span>
										</div>
									</li>
									<li class="clearfix">
										<div class="text">
											<span>2009</span>
											<p class="pc_p">
												In December 2009, started from a small hair shop, Ms. Li Wendan and  <br />
												Ms. Dong Lan embarked on the first step in business start-ups.
											</p>
											<p class="yd_p">
												In December 2009, started from a small hair shop, Ms. Li Wendan and 
												Ms. Dong Lan embarked on the first step in business start-ups.
											</p>
										</div>
										<div class="xz_div">
											<span><i></i></span>
										</div>
									</li>
								</ul>
							</div>
							
							<div class="right clearfix">
								<ul>
									<li class="clearfix">
										<div class="text">
											<span>2018</span>
											<p>
												New records are waiting for you & me ...
											</p>
										</div>
										<div class="xz_div">
											<span><i></i></span>
										</div>
									</li>
									<li class="clearfix">
										<div class="text">
											<span>2016</span>
											<p class="pc_p">
												In 2016, the company won the title of "Vice President Unit of Guangdong <br />
												Cross-border E-commerce Hair Products Industry Association", further <br />
												enhancing the company's position in the industry.<br />
												In 2016, the Company dug deep into customer demand and improved the <br />
												"360 lace frontal". Once it was launched, it received enthusiastic response<br /> 
												from the market and was highly praised.
											</p>
											<p class="yd_p">
												In 2016, the company won the title of "Vice President Unit of Guangdong
												Cross-border E-commerce Hair Products Industry Association", further
												enhancing the company's position in the industry.<br />
												In 2016, the Company dug deep into customer demand and improved the 
												"360 lace frontal". Once it was launched, it received enthusiastic response
												from the market and was highly praised.
											</p>
										</div>
										<div class="xz_div">
											<span><i></i></span>
										</div>
									</li>
									<li class="clearfix">
										<div class="text">
											<span>2014</span>
											<p class="pc_p">
												In 2014, the company further strengthened brand promotion, and invested <br />
												more in building the official website and brand mall.<br />
												In July 2014, Hot Beauty Hair go abroad, traveled to Las Vegas in United <br />
												States to participate in beauty industry exhibitions. Since then, Hot Beauty <br />
												Hair has opened a new era of expansion of overseas exhibitions.
											</p>
											<p class="yd_p">
												In 2014, the company further strengthened brand promotion, and invested
												more in building the official website and brand mall.<br />
												In July 2014, Hot Beauty Hair go abroad, traveled to Las Vegas in United 
												States to participate in beauty industry exhibitions. Since then, Hot Beauty 
												Hair has opened a new era of expansion of overseas exhibitions.
											</p>
										</div>
										<div class="xz_div">
											<span><i></i></span>
										</div>
									</li>
									<li class="clearfix">
										<div class="text">
											<span>2013</span>
											<p class="pc_p">
												In 2013, the company relocated to Longtou market, West Guangyuan Road , <br />
												with the area of 200 square meter offices and 3 Sales teams.<br />
												In 2013, the company introduced the top quality "funmi hair" from the U.K.<br /> 
												and pioneered the production and sales in China till now. Make "funmi hair" <br />
												a household name in the hair extension industry.
											</p>
											<p class="yd_p">
												In 2013, the company relocated to Longtou market, West Guangyuan Road , 
												with the area of 200 square meter offices and 3 Sales teams.<br />
												In 2013, the company introduced the top quality "funmi hair" from the U.K.
												and pioneered the production and sales in China till now. Make "funmi hair" 
												a household name in the hair extension industry.
											</p>
										</div>
										<div class="xz_div">
											<span><i></i></span>
										</div>
									</li>
									<li class="clearfix">
										<div class="text">
											<span>2010</span>
											<p class="pc_p">
												In April 2010, due to the impact of domestic e-commerce, the hair products <br />
												began to enter the Alibaba and AliExpress, hot beauty hair became one of <br />
												earliest enterprises of hair industry to enter the Alibaba and AliExpress. and <br />
												the business scope gradually increased from a African countries extended to <br />
												Europe and the United States. Since that Hot Beauty Hair started the business <br />
												both online and offline business way, with the manage spirit "go hand in hand".<br />
												In year 2010, the concept of "Brazilian hair" was redefined by Hot Beauty Hair, <br />
												since then"Brazilian hair" gradually became recognized by the hair industry.
											</p>
											<p class="yd_p">
												In April 2010, due to the impact of domestic e-commerce, the hair products 
												began to enter the Alibaba and AliExpress, hot beauty hair became one of 
												earliest enterprises of hair industry to enter the Alibaba and AliExpress. and 
												the business scope gradually increased from a African countries extended to 
												Europe and the United States. Since that Hot Beauty Hair started the business 
												both online and offline business way, with the manage spirit "go hand in hand".<br />
												In year 2010, the concept of "Brazilian hair" was redefined by Hot Beauty Hair, 
												since then"Brazilian hair" gradually became recognized by the hair industry.
											</p>
										</div>
										<div class="xz_div">
											<span><i></i></span>
										</div>
									</li>
								</ul>
							</div>
							
						</div>
						<div class="big_yuan clearfix"></div>
						
					</div>
					
					<div class="text_5 clearfix">
						<div class="top">
							<hr class="com_hr" />
							<span class="com_span"><i>05</i></span>
							<h1 class="com_h1">HOT BEAUTY HAIR TRADE SHOW</h1>
						</div>
						
						<ul class="clearfix">
							<li>
								<img class="changeimage" data-image='img/jpg/com_4.jpg' data-mimage='img/jpg/yd_com_4.jpg'  />
								<p>Atlanta Bronner Bro beauty show</p>
							</li>
							<li>
								<img class="changeimage" data-image='img/jpg/com_5.jpg' data-mimage='img/jpg/yd_com_5.jpg'  />
								<p>Miami Asia-America Trade Show</p>
							</li>
							<li>
								<img class="changeimage" data-image='img/jpg/com_6.jpg' data-mimage='img/jpg/yd_com_6.jpg'  />
								<p>South Africa Trade Show</p>
							</li>
							<li>
								<img class="changeimage" data-image='img/jpg/com_7.jpg' data-mimage='img/jpg/yd_com_7.jpg'  />
								<p>Nigeria Trade Show</p>
							</li>
						</ul>
						
					</div>
					
					<div class="text_6 clearfix">
						<div class="top">
							<hr class="com_hr" />
							<span class="com_span"><i>06</i></span>
							<h1 class="com_h1">WHO YOU ARE DEALING WITH</h1>
						</div>
						<p>Hot Beauty Hair Departments Introduction</p>
						<div class="left clearfix">
							<img class="changeimage" data-image='img/jpg/com_8.jpg' data-mimage='img/jpg/yd_com_8.jpg'  />
						</div>
						<div class="right clearfix">
							<ul class="clearfix">
								<li><img class="changeimage" data-image='img/jpg/com_9.jpg' data-mimage='img/jpg/yd_com_9.jpg'  /></li>
								<li><p>SALE TEAM</p></li>
								<li><img class="changeimage" data-image='img/jpg/com_10.jpg' data-mimage='img/jpg/yd_com_10.jpg'  /></li>
								<li><p>Sales Team</p></li>
								<li><img class="changeimage" data-image='img/jpg/com_11.jpg' data-mimage='img/jpg/yd_com_11.jpg'  /></li>
							</ul>
						</div>
						
					</div>
					
					<div class="text_7 clearfix">
						<div class="top">
							<hr class="com_hr" />
							<span class="com_span"><i>07</i></span>
							<h1 class="com_h1">GLORIES OF COMPANY</h1>
						</div>
						<img class="changeimage" data-image='img/jpg/com_12.png' data-mimage='img/jpg/yd_com_12.png'  />
					</div>
				</div>
			</div>
		
		</div>
		
		<!--返回顶部-->
		<div class="xf_right">
			<div class="vip"><a href="###"><span>VIP</span></a></div>
			<div class="top"><span>TOP</span></div>
		</div>
		
		<!--底部-->
		<div class="footer clearfix">
			<div class="content clearfix">
				<div class="left clearfix">
					<ul class="clearfix">
	                  	<li>
	            			<h4>INFORMATION</h4>
	                      	<a href="#" target="_blank">About Us</a>
	                      	<a href="#" target="_blank">After Sale Service</a>
	                      	<a href="#" target="_blank">Privacy Policy</a>
	                      	<a href="#" target="_blank">Hair Club</a>
	                    </li>
	                 	<li>
	            			<h4>BUYER INSTRUCTION</h4>
	                        <a href="#" target="_blank">How To Order</a>
	                        <a href="#" target="_blank">FAQ</a>
	                        <a href="#" target="_blank">Shipment & Pay</a>
	                        <a href="#" target="_blank">Return Policy</a>
	                    </li>
	                  	<li>
	          	 			<h4>MY ACCOUNT</h4>
	                        <a href="#" target="_blank">My Account</a>
	                        <a href="#" target="_blank">My Order</a>
	                        <a href="#" target="_blank">My Wish List</a>
	                        <a href="#" target="_blank">Site Map</a>
	                  	</li>
	                    <li>
	          	 			<h4>COMPANY INFO</h4>
	                        <p><span>Call Us:</span> U.S No: 6262487420</p>
	                        <p><span>Whatsapp:</span> +8615800028742</p>
	                        <p><span>Email:</span> rebecca@hotbeautyhair.com</p>
	                    	<p style="max-width:260px;line-height: 18px;margin-top: 3px;margin-bottom: 0;">
	                    		<span>Address:</span>
	                    		R6403, Jiahe Creative Industry Park, No.63 of North Huangbian Road, 
								Baiyun District, Guangzhou, China.
							</p>
	                  	</li>
	                  	<li>
	                  		<h4>SUBSCRIBE</h4>
		            		<p>Be the first to know about our latest products.</p>
				            <input value="" placeholder="Your Email Address">
				            <button type="submit">SUBMIT</button>
				            <ol class="clearfix">
				            	<li><a href="###"><img src="img/png/fot_1.png" alt=""></a></li>
				            	<li><a href="###"><img src="img/png/fot_3.png" alt=""></a></li>
				            	<li><a href="###"><img src="img/png/fot_4.png" alt=""></a></li>
				            </ol>
	                  	</li>
			        </ul>
				</div>
			</div>
			<div class="bot clearfix">
				<p>Copyright Notice &copy; 2016-2018 www.hotbeautyhairmall.com All rights reserved </p>
			</div>
		</div>
		
		<!--yd底部-->
		<div class="yd_footer clearfix">
			<div class="top">
				<ul class="ul_ydfot clearfix">
					<li>
            			<h4>INFORMATION <div class="pic_img"><img src="img/png/jiahao_white.png"/></div></h4>
            			<div class="slide_div">
	            			<ol>
	            				<li><a href="###">About Us</a></li>
	            				<li><a href="###">After Sale Service</a></li>
	            				<li><a href="###">Privacy Policy</a></li>
	            				<li><a href="###">Hair Club</a></li>
	            			</ol>
	            		</div>
                    </li>
                 	<li>
            			<h4>BUYER INSTRUCTION<div class="pic_img"><img src="img/png/jiahao_white.png"/></div></h4>
            			<div class="slide_div">
	            			<ol>
	            				<li><a href="###">How To Order</a></li>
	            				<li><a href="###">FAQ</a></li>
	            				<li><a href="###">Shipment & Pay</a></li>
	            				<li><a href="###">Return Policy</a></li>
	            			</ol>
	            		</div>
                    </li>
                  	<li>
          	 			<h4>MY ACCOUNT<div class="pic_img"><img src="img/png/jiahao_white.png"/></div></h4>
          	 			<div class="slide_div">
	          	 			<ol>
	            				<li><a href="###">My Account</a></li>
	            				<li><a href="###">My Order</a></li>
	            				<li><a href="###">My Wish List</a></li>
	            				<li><a href="###">Site Map</a></li>
	            			</ol>
            			</div>
                  	</li>
                  	<li>
                  		<h4>COMPANY INFO<div class="pic_img"><img src="img/png/jiahao_white.png"/></div></h4>
                  		<div class="slide_div">
	                  		<ol>
	            				<li><a href="###"><span>Call Us:</span> U.S No: 6262487420</li>
	            				<li><a href="###"><span>Whatsapp:</span> +8615800028742</a></li>
	            				<li><a href="###"><span>Email:</span> rebecca@hotbeautyhair.com</a></li>
	            				<li>
	            					<a href="###">
		            					<span>Address:</span>
			                    		R6403, Jiahe Creative Industry Park, No.63 of North Huangbian Road, 
										Baiyun District, Guangzhou, China.
	            					</a>
	            				</li>
	            			</ol>
	            		</div>
                  	</li>
                  	<li>
                  		<h4>SUBSCRIBE</h4>
                  		<div class="slide_div" style="display: block !important;">
                  			<p>Be the first to know about our latest products.</p>
				            <input value="" placeholder="Your Email Address">
				            <button type="submit">SUBMIT</button>
				            <ol class="fot_img clearfix">
				            	<li><a href="###"><img src="img/png/yd_fot1.png" alt=""></a></li>
				            	<li><a href="###"><img src="img/png/yd_fot3.png" alt=""></a></li>
				            	<li><a href="###"><img src="img/png/yd_fot4.png" alt=""></a></li>
				            </ol>
                  		</div>
                  	</li>
				</ul>
			</div>
			<p class="clearfix">Copyright Notice &copy; 2016-2018 www.hotbeautyhairmall.com All rights reserved</p>
		</div>
		<div class="yd_footer2">
			<ol class="ol_ydfot clearfix">
				<li class="active">
					<a href="###">
						<img class="active" src="img/png/home-1.png" alt="" />
						<img src="img/png/home-2.png" alt="" />
						<p>HOME</p>
					</a>
				</li>
				<li>
					<a href="###">
						<img class="active" src="img/png/fenlei-1.png" alt="" />
						<img src="img/png/fenlei-2.png" alt="" />
						<p>ALL HAIR</p>
					</a>
				</li>
				<li>
					<a href="###">
						<img class="active" src="img/png/contact-1.png" alt="" />
						<img src="img/png/contact-2	.png" alt="" />
						<p>CONTACT</p>
					</a>
				</li>
				<li>
					<a href="###">
						<img class="active" src="img/png/cart-1.png" alt="" />
						<img src="img/png/cart-2.png" alt="" />
						<p>CART</p>
					</a>
				</li>
				<li>
					<a href="###">
						<img class="active" src="img/png/account-1.png" alt="" />
						<img src="img/png/account-2.png" alt="" />
						<p>ACCOUNT</p>
					</a>
				</li>
			</ol>
		</div>
		
	</body>
</html>
<script>
	$(function(){
		
		//替换图片
	    var win = $(window).width();
			if(win<=992){
			 	$('.changeimage').each(function(){
			    	$(this).attr('src',$(this).attr('data-mimage'));
			    })
			}else{
				var hei_div = $(".hei_div").height();
				$(".company .text_4 .left").height(hei_div);
				$(".company .text_4 .right").height(hei_div);
				
			  $('.changeimage').each(function(){
			    $(this).attr('src',$(this).attr('data-image'));
			  })
			}
		$(window).resize(function() {
			var win = $(window).width();
			if(win<=992){
	          $('.changeimage').each(function(){
	            $(this).attr('src',$(this).attr('data-mimage'));
	          })
	        }else{
	          $('.changeimage').each(function(){
	            $(this).attr('src',$(this).attr('data-image'));
	          })
	        }
		})
		
	})
</script>
