<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/swiper.min.css" />
		<script type="text/javascript" src="js/jquery.min.js" ></script>
		<script type="text/javascript" src="js/common.js" ></script>
		<script type="text/javascript" src="js/swiper.js" ></script>
		<title>HOME</title>
	</head>
	<body>
		<!--头部-->
		<div class="big_nav">
			<div class="nav content clearfix">
				
				<!--货币切换-->
				<div class="mn_type">
					<div class="top clearfix">
						<p>USD</p>
						<div class="pic_img">
							<img src="img/png/down.png" alt="" />
						</div>
					</div>
					<div class="bot">
						<span><em></em></span>
						<ul class="ul_type">
							<li><a href="###">EUR</a></li>
							<li><a href="###">NAN</a></li>
							<li><a href="###">ZAR</a></li>
						</ul>
					</div>
				</div>
				
				<!--logo-->
				<div class="logo">
					<a href="###">
						<img class="changeimage" data-image='img/png/logo.png' data-mimage='img/png/yd_logo.png'  />
					</a>
				</div>	
				
				<!--whatApp-->
				<p class="whatapp"><img src="img/png/phone.png"/>WhatApp:+8615800028742</p>
				
				<!--pc导航-->
				<ul class="nav_ul clearfix">
					<li class="active"><a href="###">Home</a></li>
					<li>
						<a href="###">All Hair Collections</a>
						<div class="text clearfix">
							<ol class="clearfix">
								<li><a href="#">Double Drawn Funmi Hair</a></li>
		            			<li><a href="#">Virgin Brazilian Hair</a></li>
		            			<li><a href="#">Virgin Peruvian Hair (Normal Full)</a></li>
		            			<li><a href="#">Virgin Peruvian Hair (Very Full)</a></li>
							</ol>
						</div>
					</li>
					<li>
						<a href="###">Closure & Frontal & Wig</a>
						<div class="text clearfix">
							<ol>
								<li><a href="#">360 Frontal</a></li>
		   						<li><a href="#">Customized Bundles Wig</a></li>
		   						<li><a href="#">Lace Closure</a></li>
		   						<li><a href="#">Lace Frontal</a></li>
		   						<li><a href="#">Stock Lace Wig</a></li>
							</ol>
						</div>
					</li>
					<li><a href="###">Promotion</a></li>
					<li><a href="###">Hair Club</a></li>
					<li><a href="###">Company Profile</a></li>
				</ul>	
				
				<!--导航图标-->
				<div class="right">
					<ol class="img_ol clearfix fl">
						<li class="search_li"></li>
						<li class="login_li"></li>
						<li><a href="###"><span>0</span></a></li>
						<li class="cart_li"><span>0</span></li>
					</ol>
				</div>
				
				<!--搜索框-->
				<form class="search fl">
					<!--<input class="btn_in" type="submit" value="">-->
					<input class="text_in" type="text"placeholder="Search">
					<img class="close" src="img/png/close2.png"/>
				</form>
				
				<!--导航购物车-->
				<div class="nav_cart">
					<h1>MY SHOPPING CART(<span>5</span>) <div class="close"><img src="img/png/close2.png"/></div></h1>
					
					<div class="has">
						<ul class="cart_ul">
							<li class="clearfix">
								<a href="###">
									<div class="pic_img">
										<img src="img/jpg/index1_1.jpg"/>
									</div>
									<div class="text">
										<h2>Fuller Peruvian Virgin Hair </h2>
		 								<p>Body Wavy</p>
		 								<span>$15.39</span>
									</div>
								</a>
							</li>
							<li class="clearfix">
								<a href="###">
									<div class="pic_img">
										<img src=""/>
									</div>
									<div class="text">
										<h2>Fuller Peruvian Virgin Hair  </h2>
		 								<p>Body Wavy</p>
		 								<span>$15.39</span>
									</div>
								</a>
							</li>
							<li class="clearfix">
								<a href="###">
									<div class="pic_img">
										<img src=""/>
									</div>
									<div class="text">
										<h2>Fuller Peruvian Virgin Hair  </h2>
		 								<p>Body Wavy</p>
		 								<span>$15.39</span>
									</div>
								</a>
							</li>
							<li class="clearfix">
								<a href="###">
									<div class="pic_img">
										<img src=""/>
									</div>
									<div class="text">
										<h2>Fuller Peruvian Virgin Hair  </h2>
		 								<p>Body Wavy</p>
		 								<span>$15.39</span>
									</div>
								</a>
							</li>
						</ul>
						<hr />
						
						<div class="bot">
							<p class="p_top">Subtotal <span>$99.08</span></p>
							<p class="p_bot">Total <span>$99.08</span></p>
							<a class="a_btn" href="###">GO TO SHOPPING CART&nbsp;></a>
						</div>
					</div>
					
					<div class="null">
						<p>Your shopping cart is empty</p>
					</div>
				</div>
				
				<!--导航开关-->
				<div class="nav_off"></div>
				
				<!--移动导航-->
				<div class="yd_nav">
					<div class="top">
						<img class="menu" src="img/png/menu.png" alt="" />
						<img class="close" src="img/png/close2.png"/>
					</div>
					
					<ul>
						<li class="clearfix">
							<a href="javascript:0;">All Hair Collections <img class="slide_img" src="img/png/jiahao.png"/></a>
							<ol class="yd_nav_ol clearfix">
								<li class="clearfix"><a class="right_img" href="###">Double Drawn Funmi Hair </a></li>
								<li class="clearfix"><a class="right_img" href="###">Virgin Brazilian Hair </a></li>
								<li class="clearfix"><a class="right_img" href="###">Virgin Peruvian Hair (Normal Full) </a></li>
								<li class="clearfix"><a class="right_img" href="###">Virgin Peruvian Hair (Very Full) </a></li>
							</ol>
						</li>
						<li class="clearfix">
							<a href="javascript:0;">Closure & Frontal & Wig <img class="slide_img" src="img/png/jiahao.png"/></a>
							<ol class="yd_nav_ol clearfix">
								<li class="clearfix"><a class="right_img" href="###">360 Frontal </a></li>
								<li class="clearfix"><a class="right_img" href="###">Customized Bundles Wig</a></li>
								<li class="clearfix"><a class="right_img" href="###">Lace Closure </a></li>
								<li class="clearfix"><a class="right_img" href="###">Lace Frontal </a></li>
								<li class="clearfix"><a class="right_img" href="###">Stock Lace Wig </a></li>
							</ol>
						</li>
						<li class="clearfix">
							<a class="right_img" href="###">Promotion</a>
						</li>
						<li class="clearfix">
							<a class="right_img" href="###">Hair Club</a>
						</li>
						<li class="clearfix">
							<a class="right_img" href="###">Company Profile</a>
						</li>
					</ul>
				</div>
				
			</div>
		
		</div>
		<!--banner-->
		<div class="content in_content clearfix">
			<div class="banner">
				<div class="swiper-container"id="swiper1">
				    <div class="swiper-wrapper" style="cursor:-webkit-grab;">
				      	<div class="swiper-slide ban_img">
				      		<img class="ban1 changeimage" data-image='img/jpg/banner1.jpg' data-mimage='img/jpg/yd_banner1.jpg'  />
				      	</div>
					    <div class="swiper-slide ban_img">
					    	<img class="ban2 changeimage" data-image='img/jpg/banner2.jpg' data-mimage='img/jpg/yd_banner2.jpg'  />
					    </div>
					    <div class="swiper-slide ban_img">
					    	<img class="ban3 changeimage" data-image='img/jpg/banner3.jpg' data-mimage='img/jpg/yd_banner3.jpg'  />
					    </div>
				    </div>
				    <div class="swiper-pagination"></div>
				</div>
			    <div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		</div>
		
		<!--内容-->
		<div class="content">
			<div class="index_text index_text1">
				<div class="bt">
					<img src="img/png/bt1.png" alt="" />
					<h1>THE SELECTION OF GOOD</h1>
				</div>
				
				<ul class="ul_in1 clearfix">
					<li>
						<a href="###">
							<div class="pic clearfix">
								<img class="changeimage" data-image='img/jpg/pc_index1_1.jpg' data-mimage='img/jpg/yd_index1_1.jpg'  />
							</div>
							<div class="text">
								<h2>NEW ARRIEV</h2>
								<p>Get hair trend</p>
							</div>
						</a>
					</li>
					<li>
						<a href="###">
							<div class="pic clearfix">
								<img class="changeimage" data-image='img/jpg/pc_index1_2.jpg' data-mimage='img/jpg/yd_index1_2.jpg'  />
							</div>
							<div class="text">
								<h2>FLASH SALE</h2>
								<p>Discount every day</p>
							</div>
						</a>
					</li>
					<li>
						<a href="###">
							<div class="pic clearfix">
								<img class="changeimage" data-image='img/jpg/pc_index1_3.jpg' data-mimage='img/jpg/yd_index1_3.jpg'  />
							</div>
							<div class="text">
								<h2>BUNDLE DEAL</h2>
								<p>Save 25% off</p>
							</div>
						</a>
					</li>
				</ul>
				
				<div class="top clearfix">
					<div class="bt2">
						<h1>One Donor Raw Brazilian Hair</h1>
						<a href="###" class="a_btn">VIEW MORE &nbsp;&nbsp;><span class="triangle"><em></em></span></a>
					</div>
					<div class="video_div">
						<video id="video" class="video" poster="img/jpg/video_bg.jpg" src="img/myvideo.mp4" ></video>
						<div class="bg_div"></div>
					</div>
				</div>
				
				<ol class="ol_img2 ol_img clearfix">
					<li>
						<a href="###">
							<div class="pic">
								<img class="changeimage" data-image='img/jpg/pc_index2_1.jpg' data-mimage='img/jpg/yd_index2_1.jpg'  />
								<p>Brazilian Virgin Hair (One Donor Virgin Hair)</p>
							</div>
							<div class="text">
								<span>$35.30</span>
								<p>SHOW NOW  ></p>
							</div>
						</a>
					</li>
					<li>
						<a href="###">
							<div class="pic">
								<img class="changeimage" data-image='img/jpg/pc_index2_2.jpg' data-mimage='img/jpg/yd_index2_2.jpg'  />
								<p>Brazilian Virgin Hair (One Donor Virgin Hair)</p>
							</div>
							<div class="text">
								<span>$35.30</span>
								<p>SHOW NOW  ></p>
							</div>
						</a>
					</li>
					<li>
						<a href="###">
							<div class="pic">
								<img src="img/jpg/pc_index2_3.jpg" />
								<p>Brazilian Virgin Hair (One Donor Virgin Hair)</p>
							</div>
							<div class="text">
								<span>$35.30</span>
								<p>SHOW NOW  ></p>
							</div>
						</a>
					</li>
				</ol>
				
				<div class="top top2 clearfix">
					<div class="bt2">
						<h1>Fuller Virgin  Peruvian Hair</h1>
						<a href="###" class="a_btn">VIEW MORE &nbsp;&nbsp;><span class="triangle"><em></em></span></a>
					</div>
					<img class="top2_img changeimage" data-image='img/jpg/pc_index3.jpg' data-mimage='img/jpg/yd_index3.jpg'  />
					
				</div>
				
				<ol class="ol_img3 ol_img clearfix">
					<li>
						<a href="###">
							<div class="pic">
								<img class="changeimage" data-image='img/jpg/pc_index3_1.jpg' data-mimage='img/jpg/yd_index3_1.jpg'  />
								<p>Bundle 3 Tone Peruvian Virgin Hair Body Wave</p>
							</div>
							<div class="text">
								<span>$35.30</span>
								<p>SHOW NOW  ></p>
							</div>
						</a>
					</li>
					<li>
						<a href="###">
							<div class="pic">
								<img class="changeimage" data-image='img/jpg/pc_index3_2.jpg' data-mimage='img/jpg/yd_index3_2.jpg'  />
								<p>Bundle 3 Tone Peruvian Virgin Hair Body Wave</p>
							</div>
							<div class="text">
								<span>$35.30</span>
								<p>SHOW NOW  ></p>
							</div>
						</a>
					</li>
					<li>
						<a href="###">
							<div class="pic">
								<img class="changeimage" data-image='img/jpg/pc_index3_3.jpg' data-mimage='img/jpg/yd_index3_3.jpg'  />
								<p>Bundle 3 Tone Peruvian Virgin Hair Body Wave</p>
							</div>
							<div class="text">
								<span>$35.30</span>
								<p>SHOW NOW  ></p>
							</div>
						</a>
					</li>
					<li>
						<a href="###">
							<div class="pic">
								<img class="changeimage" data-image='img/jpg/pc_index3_4.jpg' data-mimage='img/jpg/yd_index3_4.jpg'  />
								<p>Bundle 3 Tone Peruvian Virgin Hair Body Wave</p>
							</div>
							<div class="text">
								<span>$35.30</span>
								<p>SHOW NOW  ></p>
							</div>
						</a>
					</li>
				</ol>
				
				<div class="top top3 clearfix">
					<div class="bt2">
						<h1>Regular Virgin Peruvian Hair</h1>
						<a href="###" class="a_btn">VIEW MORE &nbsp;&nbsp;><span class="triangle"><em></em></span></a>
					</div>
					<img class="top3_img changeimage" data-image='img/jpg/pc_index4.jpg' data-mimage='img/jpg/yd_index4.jpg'  />
				</div>
				
				<ol class="ol_img4 ol_img clearfix">
					<li>
						<a href="###">
							<div class="pic">
								<img class="changeimage" data-image='img/jpg/pc_index4_1.jpg' data-mimage='img/jpg/yd_index4_1.jpg'  />
								<p>Bundle 3 Tone Peruvian Virgin Hair Body Wave</p>
							</div>
							<div class="text">
								<span>$35.30</span>
								<p>SHOW NOW  ></p>
							</div>
						</a>
					</li>
					<li>
						<a href="###">
							<div class="pic">
								<img class="changeimage" data-image='img/jpg/pc_index4_2.jpg' data-mimage='img/jpg/yd_index4_2.jpg'  />
								<p>Bundle 3 Tone Peruvian Virgin Hair Body Wave</p>
							</div>
							<div class="text">
								<span>$35.30</span>
								<p>SHOW NOW  ></p>
							</div>
						</a>
					</li>
					<li>
						<a href="###">
							<div class="pic">
								<img class="changeimage" data-image='img/jpg/pc_index4_3.jpg' data-mimage='img/jpg/yd_index4_3.jpg'  />
								<p>Bundle 3 Tone Peruvian Virgin Hair Body Wave</p>
							</div>
							<div class="text">
								<span>$35.30</span>
								<p>SHOW NOW  ></p>
							</div>
						</a>
					</li>
					<li>
						<a href="###">
							<div class="pic">
								<img class="changeimage" data-image='img/jpg/pc_index4_4.jpg' data-mimage='img/jpg/yd_index4_4.jpg'  />
								<p>Bundle 3 Tone Peruvian Virgin Hair Body Wave</p>
							</div>
							<div class="text">
								<span>$35.30</span>
								<p>SHOW NOW  ></p>
							</div>
						</a>
					</li>
				</ol>
				
			</div>
			
			<div class="index_text index_text2">
				<div class="bt">
					<img src="img/png/bt2.png" alt="" />
					<h1>LACE CLOSURE & LACE FRONTAL</h1>
				</div>
				
				<div class="top top4">
					<div class="bt2">
						<a href="###" class="a_btn">VIEW MORE &nbsp;&nbsp;><span class="triangle"><em></em></span></a>
					</div>
					<img class="top4_img changeimage" data-image='img/jpg/pc_index5.jpg' data-mimage='img/jpg/yd_index5.jpg'  />
				</div>
				
				<ol class="ol_img5 ol_img clearfix">
					<li>
						<a href="###">
							<div class="pic">
								<img class="changeimage" data-image='img/jpg/pc_index5_1.jpg' data-mimage='img/jpg/yd_index5_1.jpg'  />
								<p>Bundle 3 Tone Peruvian Virgin Hair Body Wave</p>
							</div>
							<div class="text">
								<span>$35.30</span>
								<p>SHOW NOW  ></p>
							</div>
						</a>
					</li>
					<li>
						<a href="###">
							<div class="pic">
								<img class="changeimage" data-image='img/jpg/pc_index5_2.jpg' data-mimage='img/jpg/yd_index5_2.jpg'  />
								<p>Bundle 3 Tone Peruvian Virgin Hair Body Wave</p>
							</div>
							<div class="text">
								<span>$35.30</span>
								<p>SHOW NOW  ></p>
							</div>
						</a>
					</li>
					<li>
						<a href="###">
							<div class="pic">
								<img class="changeimage" data-image='img/jpg/pc_index5_3.jpg' data-mimage='img/jpg/yd_index5_3.jpg'  />
								<p>Bundle 3 Tone Peruvian Virgin Hair Body Wave</p>
							</div>
							<div class="text">
								<span>$35.30</span>
								<p>SHOW NOW  ></p>
							</div>
						</a>
					</li>
					<li>
						<a href="###">
							<div class="pic">
								<img class="changeimage" data-image='img/jpg/pc_index5_4.jpg' data-mimage='img/jpg/yd_index5_4.jpg'  />
								<p>Bundle 3 Tone Peruvian Virgin Hair Body Wave</p>
							</div>
							<div class="text">
								<span>$35.30</span>
								<p>SHOW NOW  ></p>
							</div>
						</a>
					</li>
					<li>
						<a href="###">
							<div class="pic">
								<img src="img/jpg/pc_index5_5.jpg"/>
								<p>Bundle 3 Tone Peruvian Virgin Hair Body Wave</p>
							</div>
							<div class="text">
								<span>$35.30</span>
								<p>SHOW NOW  ></p>
							</div>
						</a>
					</li>
				</ol>
			</div>
			
			<div class="index_text3">
				<div class="bt">
					<img src="img/png/bt2.png" alt="" />
					<h1># CUSTOMER SHARE</h1>
					<p>Customers share pictures and immediately buy the same</p>
				</div>
				
				<ol class="ol_img6 clearfix">
					<li>
						<a href="###">
							<img src="img/jpg/pc_index6_1.jpg"/>
						</a>
					</li>
					<li>
						<a href="###">
							<img src="img/jpg/pc_index6_2.jpg"/>
						</a>
					</li>
					<li>
						<a href="###">
							<img src="img/jpg/pc_index6_3.jpg"/>
						</a>
					</li>
					<li>
						<a href="###">
							<img src="img/jpg/pc_index6_4.jpg"/>
						</a>
					</li>
					<li>
						<a href="###">
							<img src="img/jpg/pc_index6_5.jpg"/>
						</a>
					</li>
					<li>
						<a href="###">
							<img src="img/jpg/pc_index6_6.jpg"/>
						</a>
					</li>
				</ol>
				
				<div class="product_lb clearfix">
					<div class="swiper-container" id="swiper2">
					  <div class="swiper-wrapper">
					    <div class="swiper-slide">
					    	<a href="###">
					    		<img src="img/jpg/yd_index6_1.jpg"/>
					    	</a>
					    </div>
					    <div class="swiper-slide">
					    	<a href="###">
					    		<img src="img/jpg/yd_index6_2.jpg"/>
					    	</a>	
					    </div>
					    <div class="swiper-slide">
					    	<a href="###">
					    		<img src="img/jpg/yd_index6_3.jpg"/>
					    	</a>
					    </div>
					   	<div class="swiper-slide">
					   		<a href="###">
					    		<img src="img/jpg/yd_index6_4.jpg"/>
					    	</a>
					    </div>
					    <div class="swiper-slide">
					   		<a href="###">
					    		<img src="img/jpg/yd_index6_5.jpg"/>
					    	</a>
					    </div>
					    <div class="swiper-slide">
					   		<a href="###">
					    		<img src="img/jpg/yd_index6_6.jpg"/>
					    	</a>
					    </div>
					  </div>
					</div>
					<div class="swiper-button-prev"></div>
   					<div class="swiper-button-next"></div>
				</div>
			</div>
			
		</div>
		
		<!--返回顶部-->
		<div class="xf_right">
			<div class="vip"><a href="###"><span>VIP</span></a></div>
			<div class="top"><span>TOP</span></div>
		</div>
		
		<!--底部-->
		<div class="footer clearfix">
			<div class="content clearfix">
				<div class="left clearfix">
					<ul class="clearfix">
	                  	<li>
	            			<h4>INFORMATION</h4>
	                      	<a href="#" target="_blank">About Us</a>
	                      	<a href="#" target="_blank">After Sale Service</a>
	                      	<a href="#" target="_blank">Privacy Policy</a>
	                      	<a href="#" target="_blank">Hair Club</a>
	                    </li>
	                 	<li>
	            			<h4>BUYER INSTRUCTION</h4>
	                        <a href="#" target="_blank">How To Order</a>
	                        <a href="#" target="_blank">FAQ</a>
	                        <a href="#" target="_blank">Shipment & Pay</a>
	                        <a href="#" target="_blank">Return Policy</a>
	                    </li>
	                  	<li>
	          	 			<h4>MY ACCOUNT</h4>
	                        <a href="#" target="_blank">My Account</a>
	                        <a href="#" target="_blank">My Order</a>
	                        <a href="#" target="_blank">My Wish List</a>
	                        <a href="#" target="_blank">Site Map</a>
	                  	</li>
	                    <li>
	          	 			<h4>COMPANY INFO</h4>
	                        <p><span>Call Us:</span> U.S No: 6262487420</p>
	                        <p><span>Whatsapp:</span> +8615800028742</p>
	                        <p><span>Email:</span> rebecca@hotbeautyhair.com</p>
	                    	<p style="max-width:260px;line-height: 18px;margin-top: 3px;margin-bottom: 0;">
	                    		<span>Address:</span>
	                    		R6403, Jiahe Creative Industry Park, No.63 of North Huangbian Road, 
								Baiyun District, Guangzhou, China.
							</p>
	                  	</li>
	                  	<li>
	                  		<h4>SUBSCRIBE</h4>
		            		<p>Be the first to know about our latest products.</p>
				            <input value="" placeholder="Your Email Address">
				            <button type="submit">SUBMIT</button>
				            <ol class="clearfix">
				            	<li><a href="###"><img src="img/png/fot_1.png" alt=""></a></li>
				            	<li><a href="###"><img src="img/png/fot_2.png" alt=""></a></li>
				            	<li><a href="###"><img src="img/png/fot_3.png" alt=""></a></li>
				            	<li><a href="###"><img src="img/png/fot_4.png" alt=""></a></li>
				            </ol>
	                  	</li>
			        </ul>
				</div>
			</div>
			<div class="bot clearfix">
				<p>Copyright Notice &copy; 2016-2018 www.hotbeautyhairmall.com All rights reserved </p>
			</div>
		</div>
		
		<!--yd底部-->
		<div class="yd_footer clearfix">
			<div class="top">
				<ul class="ul_ydfot clearfix">
					<li>
            			<h4>INFORMATION <div class="pic_img"><img src="img/png/jiahao_white.png"/></div></h4>
            			<div class="slide_div">
	            			<ol>
	            				<li><a href="###">About Us</a></li>
	            				<li><a href="###">After Sale Service</a></li>
	            				<li><a href="###">Privacy Policy</a></li>
	            				<li><a href="###">Hair Club</a></li>
	            			</ol>
	            		</div>
                    </li>
                 	<li>
            			<h4>BUYER INSTRUCTION<div class="pic_img"><img src="img/png/jiahao_white.png"/></div></h4>
            			<div class="slide_div">
	            			<ol>
	            				<li><a href="###">How To Order</a></li>
	            				<li><a href="###">FAQ</a></li>
	            				<li><a href="###">Shipment & Pay</a></li>
	            				<li><a href="###">Return Policy</a></li>
	            			</ol>
	            		</div>
                    </li>
                  	<li>
          	 			<h4>MY ACCOUNT<div class="pic_img"><img src="img/png/jiahao_white.png"/></div></h4>
          	 			<div class="slide_div">
	          	 			<ol>
	            				<li><a href="###">My Account</a></li>
	            				<li><a href="###">My Order</a></li>
	            				<li><a href="###">My Wish List</a></li>
	            				<li><a href="###">Site Map</a></li>
	            			</ol>
            			</div>
                  	</li>
                  	<li>
                  		<h4>COMPANY INFO<div class="pic_img"><img src="img/png/jiahao_white.png"/></div></h4>
                  		<div class="slide_div">
	                  		<ol>
	            				<li><a href="###"><span>Call Us:</span> U.S No: 6262487420</li>
	            				<li><a href="###"><span>Whatsapp:</span> +8615800028742</a></li>
	            				<li><a href="###"><span>Email:</span> rebecca@hotbeautyhair.com</a></li>
	            				<li>
	            					<a href="###">
		            					<span>Address:</span>
			                    		R6403, Jiahe Creative Industry Park, No.63 of North Huangbian Road, 
										Baiyun District, Guangzhou, China.
	            					</a>
	            				</li>
	            			</ol>
	            		</div>
                  	</li>
                  	<li>
                  		<h4>SUBSCRIBE</h4>
                  		<div class="slide_div" style="display: block !important;">
                  			<p>Be the first to know about our latest products.</p>
				            <input value="" placeholder="Your Email Address">
				            <button type="submit">SUBMIT</button>
				            <ol class="fot_img clearfix">
				            	<li><a href="###"><img src="img/png/yd_fot1.png" alt=""></a></li>
				            	<li><a href="###"><img src="img/png/yd_fot2.png" alt=""></a></li>
				            	<li><a href="###"><img src="img/png/yd_fot3.png" alt=""></a></li>
				            	<li><a href="###"><img src="img/png/yd_fot4.png" alt=""></a></li>
				            </ol>
                  		</div>
                  	</li>
				</ul>
			</div>
			<p class="clearfix">Copyright Notice &copy; 2016-2018 www.hotbeautyhairmall.com All rights reserved</p>
		</div>
		<div class="yd_footer2">
			<ol class="ol_ydfot clearfix">
				<li class="active">
					<a href="###">
						<img class="active" src="img/png/home-1.png" alt="" />
						<img src="img/png/home-2.png" alt="" />
						<p>HOME</p>
					</a>
				</li>
				<li>
					<a href="###">
						<img class="active" src="img/png/fenlei-1.png" alt="" />
						<img src="img/png/fenlei-2.png" alt="" />
						<p>ALL HAIR</p>
					</a>
				</li>
				<li>
					<a href="###">
						<img class="active" src="img/png/contact-1.png" alt="" />
						<img src="img/png/contact-2	.png" alt="" />
						<p>CONTACT</p>
					</a>
				</li>
				<li>
					<a href="###">
						<img class="active" src="img/png/cart-1.png" alt="" />
						<img src="img/png/cart-2.png" alt="" />
						<p>CART</p>
					</a>
				</li>
				<li>
					<a href="###">
						<img class="active" src="img/png/account-1.png" alt="" />
						<img src="img/png/account-2.png" alt="" />
						<p>ACCOUNT</p>
					</a>
				</li>
			</ol>
		</div>
		
		<!--登录注册弹窗-->
		<div class="modal img_modal">
			<div class="text" style="background:  url(img/jpg/pc_modal.jpg) no-repeat ;">
				<div class="close"></div>
				<!--<img class="login_img" src="img/jpg/pc_modal.jpg"/>-->
				<a class="login_a" href="###"></a>
			</div>
		</div>
		
		
	</body>
</html>

<script>
	var swiper1 = new Swiper('#swiper1', {
		loop:true,
		autoplay: true,
		navigation: {
		    nextEl: '.swiper-button-next',
		    prevEl: '.swiper-button-prev',
		},
		pagination: {
			el: '.swiper-pagination',
			clickable: true,
	    },
	});
	var mySwiper = new Swiper('#swiper2', {
		autoplay: true,
		slidesPerView : 3,
		navigation: {
		    nextEl: '.swiper-button-next',
		    prevEl: '.swiper-button-prev',
		  },
	})


	$(function(){
		
		var myvideo = document.getElementById("video");
		$(".video_div .bg_div").click(function(){
			myvideo.play();
			$(".video_div .bg_div").css("display","none")
		})
		
		/**login弹窗提示**/
		var login_time = setInterval(function(){
			$(".img_modal").fadeIn();
			clearInterval(login_time);
		},5000)
		
		//关闭登陆注册
		$(".img_modal .close").click(function(){
			$(".img_modal").fadeOut();
			clearInterval(login_time);
		})
		
		//替换手机端图片
		var win = $(window).width();
	        if(win<=750){
	          $(".video_div .video").attr("poster","img/jpg/yd_video_bg.jpg");
	        }else{
			  $(".video_div .video").attr("poster","img/jpg/video_bg.jpg");
	        }
			if(win<=992){
				$(".img_modal .text").css("background"," url(img/jpg/yd_modal.jpg) no-repeat ").css("background-size","4rem 4.5rem");
			}else{
					$(".img_modal .text").css("background"," url(img/jpg/pc_modal.jpg) no-repeat ");
			}
		$(window).resize(function() {
			var win = $(window).width();
			if(win<=750){
	          $(".video_div .video").attr("poster","img/jpg/yd_video_bg.jpg");
	        }else{
			  $(".video_div .video").attr("poster","img/jpg/video_bg.jpg");
	        }
	        if(win<=992){
				$(".img_modal .text").css("background"," url(img/jpg/yd_modal.jpg) no-repeat ").css("background-size","4rem 4.5rem");
			}else{
					$(".img_modal .text").css("background"," url(img/jpg/pc_modal.jpg) no-repeat ");
			}
		})
		
	})
	
	
</script>
		