<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/index.css" />
		<script type="text/javascript" src="js/jquery.min.js" ></script>
		<script type="text/javascript" src="js/common.js" ></script>
		<title>PROMOTION</title>
	</head>
	<body>
		<!--头部-->
		<div class="big_nav">
			<div class="nav content clearfix">
				<!--货币切换-->
				<div class="mn_type">
					<div class="top clearfix">
						<p>USD</p>
						<div class="pic_img">
							<img src="img/png/down.png" alt="" />
						</div>
					</div>
					<div class="bot">
						<span><em></em></span>
						<ul class="ul_type">
							<li><a href="###">EUR</a></li>
							<li><a href="###">NAN</a></li>
							<li><a href="###">ZAR</a></li>
						</ul>
					</div>
				</div>
				
				<!--logo-->
				<div class="logo">
					<a href="###">
						<img src="img/png/logo.png"/>
					</a>
				</div>	
				
				<!--whatApp-->
				<p class="whatapp"><img src="img/png/phone.png"/>WhatApp:+8615800028742</p>
				
				<!--pc导航-->
				<ul class="nav_ul clearfix">
					<li><a href="###">Home</a></li>
					<li class="active">
						<a href="###">All Hair Collections</a>
						<div class="text clearfix">
							<ol class="clearfix">
								<li><a href="#">Double Drawn Funmi Hair</a></li>
		            			<li><a href="#">Virgin Brazilian Hair</a></li>
		            			<li><a href="#">Virgin Peruvian Hair (Normal Full)</a></li>
		            			<li><a href="#">Virgin Peruvian Hair (Very Full)</a></li>
							</ol>
						</div>
					</li>
					<li>
						<a href="###">Closure & Frontal & Wig</a>
						<div class="text clearfix">
							<ol>
								<li><a href="#">360 Frontal</a></li>
		   						<li><a href="#">Customized Bundles Wig</a></li>
		   						<li><a href="#">Lace Closure</a></li>
		   						<li><a href="#">Lace Frontal</a></li>
		   						<li><a href="#">Stock Lace Wig</a></li>
							</ol>
						</div>
					</li>
					<li><a href="###">Promotion</a></li>
					<li><a href="###">Hair Club</a></li>
					<li><a href="###">Company Profile</a></li>
				</ul>	
				
				<!--导航图标-->
				<div class="right">
					<ol class="img_ol clearfix fl">
						<li class="search_li"></li>
						<li class="login_li"></li>
						<li><a href="###"><span>0</span></a></li>
						<li class="cart_li"><span>0</span></li>
					</ol>
				</div>
				
				<!--搜索框-->
				<form class="search fl">
					<!--<input class="btn_in" type="submit" value="">-->
					<input class="text_in" type="text"placeholder="Search">
					<img class="close" src="img/png/close2.png"/>
				</form>
				
				<!--导航购物车-->
				<div class="nav_cart">
					<h1>MY SHOPPING CART(<span>5</span>) <div class="close"><img src="img/png/close2.png"/></div></h1>
					
					<div class="has">
						<ul class="cart_ul">
							<li class="clearfix">
								<a href="###">
									<div class="pic_img">
										<img src="img/jpg/index1_1.jpg"/>
									</div>
									<div class="text">
										<h2>Fuller Peruvian Virgin Hair </h2>
		 								<p>Body Wavy</p>
		 								<span>$15.39</span>
		 								<p><span>x1</span></p>
									</div>
								</a>
							</li>
							<li class="clearfix">
								<a href="###">
									<div class="pic_img">
										<img src=""/>
									</div>
									<div class="text">
										<h2>Fuller Peruvian Virgin Hair  </h2>
		 								<p>Body Wavy</p>
		 								<span>$15.39</span>
		 								<p><span>x1</span></p>
									</div>
								</a>
							</li>
							<li class="clearfix">
								<a href="###">
									<div class="pic_img">
										<img src=""/>
									</div>
									<div class="text">
										<h2>Fuller Peruvian Virgin Hair  </h2>
		 								<p>Body Wavy</p>
		 								<span>$15.39</span>
		 								<p><span>x1</span></p>
									</div>
								</a>
							</li>
							<li class="clearfix">
								<a href="###">
									<div class="pic_img">
										<img src=""/>
									</div>
									<div class="text">
										<h2>Fuller Peruvian Virgin Hair  </h2>
		 								<p>Body Wavy</p>
		 								<span>$15.39</span>
		 								<p><span>x1</span></p>
									</div>
								</a>
							</li>
						</ul>
						<hr />
						
						<div class="bot">
							<p class="p_top">Subtotal <span>$99.08</span></p>
							<p class="p_bot">Total <span>$99.08</span></p>
							<a class="a_btn" href="###">GO TO SHOPPING CART&nbsp;></a>
						</div>
					</div>
					
					<div class="null">
						<p>Your shopping cart is empty</p>
					</div>
				</div>
				
				<!--导航开关-->
				<div class="nav_off"></div>
				
				<!--移动导航-->
				<div class="yd_nav">
					<div class="top">
						<img class="menu" src="img/png/menu.png" alt="" />
						<img class="close" src="img/png/close2.png"/>
					</div>
					
					<ul>
						<li class="clearfix">
							<a href="javascript:0;">All Hair Collections <img class="slide_img" src="img/png/jiahao.png"/></a>
							<ol class="yd_nav_ol clearfix">
								<li class="clearfix"><a class="right_img" href="###">Double Drawn Funmi Hair </a></li>
								<li class="clearfix"><a class="right_img" href="###">Virgin Brazilian Hair </a></li>
								<li class="clearfix"><a class="right_img" href="###">Virgin Peruvian Hair (Normal Full) </a></li>
								<li class="clearfix"><a class="right_img" href="###">Virgin Peruvian Hair (Very Full) </a></li>
							</ol>
						</li>
						<li class="clearfix">
							<a href="javascript:0;">Closure & Frontal & Wig <img class="slide_img" src="img/png/jiahao.png"/></a>
							<ol class="yd_nav_ol clearfix">
								<li class="clearfix"><a class="right_img" href="###">360 Frontal </a></li>
								<li class="clearfix"><a class="right_img" href="###">Customized Bundles Wig</a></li>
								<li class="clearfix"><a class="right_img" href="###">Lace Closure </a></li>
								<li class="clearfix"><a class="right_img" href="###">Lace Frontal </a></li>
								<li class="clearfix"><a class="right_img" href="###">Stock Lace Wig </a></li>
							</ol>
						</li>
						<li class="clearfix">
							<a class="right_img" href="###">Promotion</a>
						</li>
						<li class="clearfix">
							<a class="right_img" href="###">Hair Club</a>
						</li>
						<li class="clearfix">
							<a class="right_img" href="###">Company Profile</a>
						</li>
					</ul>
				</div>
				
			</div>
		
		</div>
		<!--内容-->
		<div class="content in_content product promotion">
			<img class="changeimage img_bnr" data-image='img/jpg/promotion.jpg' data-mimage='img/jpg/yd_promotion.jpg'  />
			
			<h1>DISCOUNTED GOODS</h1>
			
			<div class="pro_content clearfix">
				<div class="pro_text clearfix">
					<ul class="pro_ul">
						<li>
							<a href="###">
								<div class="pic_img">
									<img src="img/jpg/product1.jpg"/>
								</div>
								<div class="text clearfix">
									<p>10"-30" Virgin Brazilian Straight Hair </p>
									<div class="price">
										<span>$35.30</span>
										<i>$78.40</i>
									</div>
									<div class="fsbg_div">
										<i>-45%</i>
									</div>
								</div>
							</a>
							<div class="sc_div"></div>
						</li>
						<li>
							<a href="###">
								<div class="pic_img">
									<img src="img/jpg/product1.jpg"/>
								</div>
								<div class="text clearfix">
									<p>10"-30" Virgin Brazilian Straight Hair </p>
									<div class="price">
										<span>$35.30</span>
										<i>$78.40</i>
									</div>
									<div class="fsbg_div">
										<i>-45%</i>
									</div>
								</div>
							</a>
							<div class="sc_div"></div>
						</li>
						<li>
							<a href="###">
								<div class="pic_img">
									<img src="img/jpg/product1.jpg"/>
								</div>
								<div class="text clearfix">
									<p>10"-30" Virgin Brazilian Straight Hair </p>
									<div class="price">
										<span>$35.30</span>
										<i>$78.40</i>
									</div>
									<div class="fsbg_div">
										<i>-45%</i>
									</div>
								</div>
							</a>
							<div class="sc_div"></div>
						</li>
						<li>
							<a href="###">
								<div class="pic_img">
									<img src="img/jpg/product1.jpg"/>
								</div>
								<div class="text clearfix">
									<p>10"-30" Virgin Brazilian Straight Hair </p>
									<div class="price">
										<span>$35.30</span>
										<i>$78.40</i>
									</div>
									<div class="fsbg_div">
										<i>-45%</i>
									</div>
								</div>
							</a>
							<div class="sc_div"></div>
						</li>
						<li>
							<a href="###">
								<div class="pic_img">
									<img src="img/jpg/product1.jpg"/>
								</div>
								<div class="text clearfix">
									<p>10"-30" Virgin Brazilian Straight Hair </p>
									<div class="price">
										<span>$35.30</span>
										<i>$78.40</i>
									</div>
									<div class="fsbg_div">
										<i>-45%</i>
									</div>
								</div>
							</a>
							<div class="sc_div"></div>
						</li>
						<li>
							<a href="###">
								<div class="pic_img">
									<img src="img/jpg/product1.jpg"/>
								</div>
								<div class="text clearfix">
									<p>10"-30" Virgin Brazilian Straight Hair </p>
									<div class="price">
										<span>$35.30</span>
										<i>$78.40</i>
									</div>
									<div class="fsbg_div">
										<i>-45%</i>
									</div>
								</div>
							</a>
							<div class="sc_div"></div>
						</li>
						<li>
							<a href="###">
								<div class="pic_img">
									<img src="img/jpg/product1.jpg"/>
								</div>
								<div class="text clearfix">
									<p>10"-30" Virgin Brazilian Straight Hair </p>
									<div class="price">
										<span>$35.30</span>
										<i>$78.40</i>
									</div>
									<div class="fsbg_div">
										<i>-45%</i>
									</div>
								</div>
							</a>
							<div class="sc_div"></div>
						</li>
						<li>
							<a href="###">
								<div class="pic_img">
									<img src="img/jpg/product1.jpg"/>
								</div>
								<div class="text clearfix">
									<p>10"-30" Virgin Brazilian Straight Hair </p>
									<div class="price">
										<span>$35.30</span>
										<i>$78.40</i>
									</div>
									<div class="fsbg_div">
										<i>-45%</i>
									</div>
								</div>
							</a>
							<div class="sc_div"></div>
						</li>
						<li>
							<a href="###">
								<div class="pic_img">
									<img src="img/jpg/product1.jpg"/>
								</div>
								<div class="text clearfix">
									<p>10"-30" Virgin Brazilian Straight Hair </p>
									<div class="price">
										<span>$35.30</span>
										<i>$78.40</i>
									</div>
									<div class="fsbg_div">
										<i>-45%</i>
									</div>
								</div>
							</a>
							<div class="sc_div"></div>
						</li>
						<li>
							<a href="###">
								<div class="pic_img">
									<img src="img/jpg/product1.jpg"/>
								</div>
								<div class="text clearfix">
									<p>10"-30" Virgin Brazilian Straight Hair </p>
									<div class="price">
										<span>$35.30</span>
										<i>$78.40</i>
									</div>
									<div class="fsbg_div">
										<i>-45%</i>
									</div>
								</div>
							</a>
							<div class="sc_div"></div>
						</li>
						<li>
							<a href="###">
								<div class="pic_img">
									<img src="img/jpg/product1.jpg"/>
								</div>
								<div class="text clearfix">
									<p>10"-30" Virgin Brazilian Straight Hair </p>
									<div class="price">
										<span>$35.30</span>
										<i>$78.40</i>
									</div>
									<div class="fsbg_div">
										<i>-45%</i>
									</div>
								</div>
							</a>
							<div class="sc_div"></div>
						</li>
						<li>
							<a href="###">
								<div class="pic_img">
									<img src="img/jpg/product1.jpg"/>
								</div>
								<div class="text clearfix">
									<p>10"-30" Virgin Brazilian Straight Hair </p>
									<div class="price">
										<span>$35.30</span>
										<i>$78.40</i>
									</div>
									<div class="fsbg_div">
										<i>-45%</i>
									</div>
								</div>
							</a>
							<div class="sc_div"></div>
						</li>
						<li>
							<a href="###">
								<div class="pic_img">
									<img src="img/jpg/product1.jpg"/>
								</div>
								<div class="text clearfix">
									<p>10"-30" Virgin Brazilian Straight Hair </p>
									<div class="price">
										<span>$35.30</span>
										<i>$78.40</i>
									</div>
									<div class="fsbg_div">
										<i>-45%</i>
									</div>
								</div>
							</a>
							<div class="sc_div"></div>
						</li>
						<li>
							<a href="###">
								<div class="pic_img">
									<img src="img/jpg/product1.jpg"/>
								</div>
								<div class="text clearfix">
									<p>10"-30" Virgin Brazilian Straight Hair </p>
									<div class="price">
										<span>$35.30</span>
										<i>$78.40</i>
									</div>
									<div class="fsbg_div">
										<i>-45%</i>
									</div>
								</div>
							</a>
							<div class="sc_div"></div>
						</li>
						<li>
							<a href="###">
								<div class="pic_img">
									<img src="img/jpg/product1.jpg"/>
								</div>
								<div class="text clearfix">
									<p>10"-30" Virgin Brazilian Straight Hair </p>
									<div class="price">
										<span>$35.30</span>
										<i>$78.40</i>
									</div>
									<div class="fsbg_div">
										<i>-45%</i>
									</div>
								</div>
							</a>
							<div class="sc_div"></div>
						</li>
						<li>
							<a href="###">
								<div class="pic_img">
									<img src="img/jpg/product1.jpg"/>
								</div>
								<div class="text clearfix">
									<p>10"-30" Virgin Brazilian Straight Hair </p>
									<div class="price">
										<span>$35.30</span>
										<i>$78.40</i>
									</div>
									<div class="fsbg_div">
										<i>-45%</i>
									</div>
								</div>
							</a>
							<div class="sc_div"></div>
						</li>
					</ul>
				</div>
				<div class="bot clearfix">
					<div class="left">
						<ul>
							<li class="li_jt active"><a href="###"> < </a></li>
							<li class="li_fy active"><a href="###">1</a></li>
							<li class="li_fy"><a href="###">2</a></li>
							<li class="li_fy"><a href="###">3</a></li>
							<li class="li_fy"><a href="###">4</a></li>
							<li class="li_fy"><a href="###">5</a></li>
							<li class="li_fy"><a href="###">6</a></li>
							<li class="li_fy"><a href="###">7</a></li>
							<li class="li_jt"><a href="###"> > </a></li>
						</ul>
					</div>
					<div class="right">
						<p>Double Drawn Funmi Hair [<span>24</span>]</p>
					</div>
				</div>
			</div>
		</div>
		
		<!--返回顶部-->
		<div class="xf_right">
			<div class="vip"><a href="###"><span>VIP</span></a></div>
			<div class="top"><span>TOP</span></div>
		</div>
		
		<!--底部-->
		<div class="footer clearfix">
			<div class="content clearfix">
				<div class="left clearfix">
					<ul class="clearfix">
	                  	<li>
	            			<h4>INFORMATION</h4>
	                      	<a href="#" target="_blank">About Us</a>
	                      	<a href="#" target="_blank">After Sale Service</a>
	                      	<a href="#" target="_blank">Privacy Policy</a>
	                      	<a href="#" target="_blank">Hair Club</a>
	                    </li>
	                 	<li>
	            			<h4>BUYER INSTRUCTION</h4>
	                        <a href="#" target="_blank">How To Order</a>
	                        <a href="#" target="_blank">FAQ</a>
	                        <a href="#" target="_blank">Shipment & Pay</a>
	                        <a href="#" target="_blank">Return Policy</a>
	                    </li>
	                  	<li>
	          	 			<h4>MY ACCOUNT</h4>
	                        <a href="#" target="_blank">My Account</a>
	                        <a href="#" target="_blank">My Order</a>
	                        <a href="#" target="_blank">My Wish List</a>
	                        <a href="#" target="_blank">Site Map</a>
	                  	</li>
	                    <li>
	          	 			<h4>COMPANY INFO</h4>
	                        <p><span>Call Us:</span> U.S No: 6262487420</p>
	                        <p><span>Whatsapp:</span> +8615800028742</p>
	                        <p><span>Email:</span> rebecca@hotbeautyhair.com</p>
	                    	<p style="max-width:260px;line-height: 18px;margin-top: 3px;margin-bottom: 0;">
	                    		<span>Address:</span>
	                    		R6403, Jiahe Creative Industry Park, No.63 of North Huangbian Road, 
								Baiyun District, Guangzhou, China.
							</p>
	                  	</li>
	                  	<li>
	                  		<h4>SUBSCRIBE</h4>
		            		<p>Be the first to know about our latest products.</p>
				            <input value="" placeholder="Your Email Address">
				            <button type="submit">SUBMIT</button>
				            <ol class="clearfix">
				            	<li><a href="###"><img src="img/png/fot_1.png" alt=""></a></li>
				            	<li><a href="###"><img src="img/png/fot_3.png" alt=""></a></li>
				            	<li><a href="###"><img src="img/png/fot_4.png" alt=""></a></li>
				            </ol>
	                  	</li>
			        </ul>
				</div>
			</div>
			<div class="bot clearfix">
				<p>Copyright Notice &copy; 2016-2018 www.hotbeautyhairmall.com All rights reserved </p>
			</div>
		</div>
		
		<!--yd底部-->
		<div class="yd_footer clearfix">
			<div class="top">
				<ul class="ul_ydfot clearfix">
					<li>
            			<h4>INFORMATION <div class="pic_img"><img src="img/png/jiahao_white.png" data-img='img/png/jiahao_white.png' data-imgs='img/png/jianhao_white.png'  /></div></h4>
            			<div class="slide_div">
	            			<ol>
	            				<li><a href="###">About Us</a></li>
	            				<li><a href="###">After Sale Service</a></li>
	            				<li><a href="###">Privacy Policy</a></li>
	            				<li><a href="###">Hair Club</a></li>
	            			</ol>
	            		</div>
                    </li>
                 	<li>
            			<h4>BUYER INSTRUCTION<div class="pic_img"><img src="img/png/jiahao_white.png" data-img='img/png/jiahao_white.png' data-imgs='img/png/jianhao_white.png'  /></div></h4>
            			<div class="slide_div">
	            			<ol>
	            				<li><a href="###">How To Order</a></li>
	            				<li><a href="###">FAQ</a></li>
	            				<li><a href="###">Shipment & Pay</a></li>
	            				<li><a href="###">Return Policy</a></li>
	            			</ol>
	            		</div>
                    </li>
                  	<li>
          	 			<h4>MY ACCOUNT<div class="pic_img"><img src="img/png/jiahao_white.png" data-img='img/png/jiahao_white.png' data-imgs='img/png/jianhao_white.png'  /></div></h4>
          	 			<div class="slide_div">
	          	 			<ol>
	            				<li><a href="###">My Account</a></li>
	            				<li><a href="###">My Order</a></li>
	            				<li><a href="###">My Wish List</a></li>
	            				<li><a href="###">Site Map</a></li>
	            			</ol>
            			</div>
                  	</li>
                  	<li>
                  		<h4>COMPANY INFO<div class="pic_img"><img src="img/png/jiahao_white.png" data-img='img/png/jiahao_white.png' data-imgs='img/png/jianhao_white.png'  /></div></h4>
                  		<div class="slide_div">
	                  		<ol>
	            				<li><a href="###"><span>Call Us:</span> U.S No: 6262487420</li>
	            				<li><a href="###"><span>Whatsapp:</span> +8615800028742</a></li>
	            				<li><a href="###"><span>Email:</span> rebecca@hotbeautyhair.com</a></li>
	            				<li>
	            					<a href="###">
		            					<span>Address:</span>
			                    		R6403, Jiahe Creative Industry Park, No.63 of North Huangbian Road, 
										Baiyun District, Guangzhou, China.
	            					</a>
	            				</li>
	            			</ol>
	            		</div>
                  	</li>
                  	<li>
                  		<h4>SUBSCRIBE</h4>
                  		<div class="slide_div" style="display: block !important;">
                  			<p>Be the first to know about our latest products.</p>
				            <input value="" placeholder="Your Email Address">
				            <button type="submit">SUBMIT</button>
				            <ol class="fot_img clearfix">
				            	<li><a href="###"><img src="img/png/yd_fot1.png" alt=""></a></li>
				            	<li><a href="###"><img src="img/png/yd_fot3.png" alt=""></a></li>
				            	<li><a href="###"><img src="img/png/yd_fot4.png" alt=""></a></li>
				            </ol>
                  		</div>
                  	</li>
				</ul>
			</div>
			<p class="clearfix">Copyright Notice &copy; 2016-2018 www.hotbeautyhairmall.com All rights reserved</p>
		</div>
		<div class="yd_footer2">
			<ol class="ol_ydfot clearfix">
				<li class="active">
					<a href="###">
						<img class="active" src="img/png/home-1.png" alt="" />
						<img src="img/png/home-2.png" alt="" />
						<p>HOME</p>
					</a>
				</li>
				<li>
					<a href="###">
						<img class="active" src="img/png/fenlei-1.png" alt="" />
						<img src="img/png/fenlei-2.png" alt="" />
						<p>ALL HAIR</p>
					</a>
				</li>
				<li>
					<a class="contact" href="javascript:0;">
						<img class="active" src="img/png/contact-1.png" alt="" />
						<img src="img/png/contact-2	.png" alt="" />
						<p>CONTACT</p>
					</a>
					<div class="a_text">
						<a href="###"><img src="img/jpg/fot_con1.jpg"/></a>
						<a href="###"><img src="img/jpg/fot_con2.jpg"/></a>
						<a href="###"><img src="img/jpg/fot_con3.jpg"/></a>
					</div>
				</li>
				<li>
					<a href="###">
						<img class="active" src="img/png/cart-1.png" alt="" />
						<img src="img/png/cart-2.png" alt="" />
						<p>CART</p>
					</a>
				</li>
				<li>
					<a href="###">
						<img class="active" src="img/png/account-1.png" alt="" />
						<img src="img/png/account-2.png" alt="" />
						<p>ACCOUNT</p>
					</a>
				</li>
			</ol>
		</div>
		
	</body>
</html>

<script>
	$(function(){
		
		//sortby
		$(".sortby").click(function(){
			if($(this).hasClass("off")){
				$(this).removeClass("off");
				$(this).find("span").text("+");
				$(this).siblings(".sortby_ol").slideUp();
			}else{
				$(this).addClass("off");
				$(this).find("span").text("-");
				$(this).siblings(".sortby_ol").slideDown();
			}
		})
		
		//收藏
		$(".pro_content .pro_ul .sc_div").click(function(){
			var win = $(window).width()
			
			if(win>992){
				if($(this).hasClass("off")){
					$(this).removeClass("off");
					$(this).css("background","url(img/png/pro_star.png) no-repeat").css("background-size","1.87vw 1.87vw");
				}else{
					$(this).addClass("off");
					$(this).css("background","url(img/png/pro_star_.png) no-repeat").css("background-size","1.87vw 1.87vw");
				}
			}else{
				if($(this).hasClass("off")){
					$(this).removeClass("off");
					$(this).css("background","url(img/png/pro_star.png) no-repeat").css("background-size","0.5rem 0.5rem");
				}else{
					$(this).addClass("off");
					$(this).css("background","url(img/png/pro_star_.png) no-repeat").css("background-size","0.5rem 0.5rem");
				}
			}
		})
	})
</script>
		