<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/index.css" />
		<script type="text/javascript" src="js/jquery.min.js" ></script>
		<script type="text/javascript" src="js/common.js" ></script>
		<title>EDIT SHIPPING ADDRESS</title>
	</head>
	<body>
		<!--头部-->
		<div class="big_nav">
			<div class="nav yd_hide content clearfix">
				<!--货币切换-->
				<div class="mn_type">
					<div class="top clearfix">
						<p>USD</p>
						<div class="pic_img">
							<img src="img/png/down.png" alt="" />
						</div>
					</div>
					<div class="bot">
						<span><em></em></span>
						<ul class="ul_type">
							<li><a href="###">EUR</a></li>
							<li><a href="###">NAN</a></li>
							<li><a href="###">ZAR</a></li>
						</ul>
					</div>
				</div>
				
				<!--logo-->
				<div class="logo">
					<a href="###">
						<img src="img/png/logo.png"/>
					</a>
				</div>	
				
				<!--whatApp-->
				<p class="whatapp"><img src="img/png/phone.png"/>WhatApp:+8615800028742</p>
				
				<!--pc导航-->
				<ul class="nav_ul clearfix">
					<li><a href="###">Home</a></li>
					<li>
						<a href="###">All Hair Collections</a>
						<div class="text clearfix">
							<ol class="clearfix">
								<li><a href="#">Double Drawn Funmi Hair</a></li>
		            			<li><a href="#">Virgin Brazilian Hair</a></li>
		            			<li><a href="#">Virgin Peruvian Hair (Normal Full)</a></li>
		            			<li><a href="#">Virgin Peruvian Hair (Very Full)</a></li>
							</ol>
						</div>
					</li>
					<li>
						<a href="###">Closure & Frontal & Wig</a>
						<div class="text clearfix">
							<ol>
								<li><a href="#">360 Frontal</a></li>
		   						<li><a href="#">Customized Bundles Wig</a></li>
		   						<li><a href="#">Lace Closure</a></li>
		   						<li><a href="#">Lace Frontal</a></li>
		   						<li><a href="#">Stock Lace Wig</a></li>
							</ol>
						</div>
					</li>
					<li><a href="###">Promotion</a></li>
					<li><a href="###">Hair Club</a></li>
					<li><a href="###">Company Profile</a></li>
				</ul>	
				
				<!--导航图标-->
				<div class="right">
					<ol class="img_ol clearfix fl">
						<li class="search_li"></li>
						<li class="login_li"></li>
						<li><a href="###"><span>0</span></a></li>
						<li class="cart_li"><span>0</span></li>
					</ol>
				</div>
				
				<!--搜索框-->
				<form class="search fl">
					<!--<input class="btn_in" type="submit" value="">-->
					<input class="text_in" type="text"placeholder="Search">
					<img class="close" src="img/png/close2.png"/>
				</form>
				
				<!--导航购物车-->
				<div class="nav_cart">
					<h1>MY SHOPPING CART(<span>5</span>) <div class="close"><img src="img/png/close2.png"/></div></h1>
					
					<div class="has">
						<ul class="cart_ul">
							<li class="clearfix">
								<a href="###">
									<div class="pic_img">
										<img src="img/jpg/index1_1.jpg"/>
									</div>
									<div class="text">
										<h2>Fuller Peruvian Virgin Hair </h2>
		 								<p>Body Wavy</p>
		 								<span>$15.39</span>
		 								<p><span>x1</span></p>
									</div>
								</a>
							</li>
							<li class="clearfix">
								<a href="###">
									<div class="pic_img">
										<img src=""/>
									</div>
									<div class="text">
										<h2>Fuller Peruvian Virgin Hair  </h2>
		 								<p>Body Wavy</p>
		 								<span>$15.39</span>
		 								<p><span>x1</span></p>
									</div>
								</a>
							</li>
							<li class="clearfix">
								<a href="###">
									<div class="pic_img">
										<img src=""/>
									</div>
									<div class="text">
										<h2>Fuller Peruvian Virgin Hair  </h2>
		 								<p>Body Wavy</p>
		 								<span>$15.39</span>
		 								<p><span>x1</span></p>
									</div>
								</a>
							</li>
							<li class="clearfix">
								<a href="###">
									<div class="pic_img">
										<img src=""/>
									</div>
									<div class="text">
										<h2>Fuller Peruvian Virgin Hair  </h2>
		 								<p>Body Wavy</p>
		 								<span>$15.39</span>
		 								<p><span>x1</span></p>
									</div>
								</a>
							</li>
						</ul>
						<hr />
						
						<div class="bot">
							<p class="p_top">Subtotal <span>$99.08</span></p>
							<p class="p_bot">Total <span>$99.08</span></p>
							<a class="a_btn" href="###">GO TO SHOPPING CART&nbsp;></a>
						</div>
					</div>
					
					<div class="null">
						<p>Your shopping cart is empty</p>
					</div>
				</div>
				
				<!--导航开关-->
				<div class="nav_off"></div>
				
				<!--移动导航-->
				<div class="yd_nav">
					<div class="top">
						<img class="menu" src="img/png/menu.png" alt="" />
						<img class="close" src="img/png/close2.png"/>
					</div>
					
					<ul>
						<li class="clearfix">
							<a href="###">All Hair Collections </a><img class="slide_img" src="img/png/jiahao.png" data-img="img/png/jiahao.png" data-imgs="img/png/jianhao.png"/>
							<ol class="yd_nav_ol clearfix">
								<li class="clearfix"><a class="right_img" href="###">Double Drawn Funmi Hair </a></li>
								<li class="clearfix"><a class="right_img" href="###">Virgin Brazilian Hair </a></li>
								<li class="clearfix"><a class="right_img" href="###">Virgin Peruvian Hair (Normal Full) </a></li>
								<li class="clearfix"><a class="right_img" href="###">Virgin Peruvian Hair (Very Full) </a></li>
							</ol>
						</li>
						<li class="clearfix">
							<a href="###">Closure & Frontal & Wig </a><img class="slide_img" src="img/png/jiahao.png" data-img="img/png/jiahao.png" data-imgs="img/png/jianhao.png"/>
							<ol class="yd_nav_ol clearfix">
								<li class="clearfix"><a class="right_img" href="###">360 Frontal </a></li>
								<li class="clearfix"><a class="right_img" href="###">Customized Bundles Wig</a></li>
								<li class="clearfix"><a class="right_img" href="###">Lace Closure </a></li>
								<li class="clearfix"><a class="right_img" href="###">Lace Frontal </a></li>
								<li class="clearfix"><a class="right_img" href="###">Stock Lace Wig </a></li>
							</ol>
						</li>
						<li class="clearfix">
							<a class="right_img" href="###">Promotion</a>
						</li>
						<li class="clearfix">
							<a class="right_img" href="###">Hair Club</a>
						</li>
						<li class="clearfix">
							<a class="right_img" href="###">Company Profile</a>
						</li>
					</ul>
				</div>
				
			</div>
		
			<div class="new_nav pc_hide clearfix">
				<a class="fh" href="###"></a>
				<p>EDIT SHIPPING ADDRESS</p>
			</div>
		</div>
		<!--内容-->
		<div class="content in_content zf_13  new_in_content">
			
			<div class="zf_con clearfix">
				<div class="zfbt clearfix">
					<span>1</span>
					<h1>Shipping Address</h1>
					<div class="del clearfix">
						<svg t="1539766974948" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5269" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32">
							<path d="M793.6 998.4H220.16c-51.2 0-97.28-40.96-97.28-97.28V261.12c0-15.36 10.24-25.6 25.6-25.6s25.6 10.24 25.6 25.6v645.12c0 25.6 20.48 46.08 46.08 46.08h573.44c25.6 0 46.08-20.48 46.08-46.08v-563.2c0-15.36 10.24-25.6 25.6-25.6s25.6 10.24 25.6 25.6v563.2c0 46.08-46.08 92.16-97.28 92.16z" p-id="5270" fill="#333"></path>
							<path d="M51.2 266.24c-10.24 0-20.48-10.24-25.6-25.6 0-15.36 10.24-25.6 25.6-25.6l916.48-81.92c15.36 0 25.6 10.24 25.6 25.6s-10.24 25.6-25.6 25.6L51.2 266.24c5.12 0 0 0 0 0z" p-id="5271" fill="#333"></path>
							<path d="M343.04 230.4c-10.24 0-20.48-10.24-25.6-25.6l-5.12-76.8C307.2 87.04 337.92 51.2 378.88 46.08l225.28-20.48c20.48 0 40.96 5.12 56.32 15.36 15.36 10.24 25.6 30.72 25.6 51.2l5.12 81.92c0 15.36-10.24 25.6-25.6 25.6s-25.6-10.24-25.6-25.6l-5.12-81.92c0-10.24-10.24-20.48-25.6-20.48l-225.28 25.6c-5.12 0-10.24 5.12-15.36 10.24-5.12 0-5.12 10.24-5.12 15.36L368.64 204.8c0 10.24-10.24 25.6-25.6 25.6 5.12 0 0 0 0 0zM435.2 768c-15.36 0-25.6-15.36-25.6-30.72V399.36c0-15.36 10.24-40.96 25.6-40.96s25.6 25.6 25.6 35.84v337.92c0 15.36-10.24 35.84-25.6 35.84zM588.8 768c-15.36 0-25.6-15.36-25.6-30.72V465.92c0-15.36 10.24-25.6 25.6-25.6s25.6 10.24 25.6 25.6v271.36c0 15.36-10.24 30.72-25.6 30.72z" p-id="5272" fill="#333"></path>
						</svg>	
					</div>
				</div>
				
				<form method="post">
					<div class="form_div">
						<label class="true clearfix" for="">
							<em class="gx"></em>
							<input type="text" value="BIHUI"/>
							<p class="ts_ps">please enter your  </p>
						</label>
						<label class="clearfix" for="">
							<input type="text" value="Last Name"/>
							<p class="ts_ps off">please enter your Last Name</p>
						</label>
						<label class="clearfix" for="">
							<input type="text" value="Address1"/>
							<p class="ts_ps">please enter your Last Name</p>
						</label>
						<label class="clearfix" for="">
							<input type="text" value="Address2"/>
							<p class="ts_ps">please enter your Last Name</p>
						</label>
						<label class="w_48 fl clearfix" for="">
							<input type="text" value="City"/>
							<p class="ts_ps">please enter your Last Name</p>
						</label>
						<label class="w_48 fr clearfix" for="">
							<input type="text" value="Post Code"/>
							<p class="ts_ps">please enter your Last Name</p>
						</label>
						<label class="w_48 fl clearfix" for="">
							<select name="">
								<option value="">State</option>
								<option value="">State2</option>
								<option value="">State3</option>
								<option value="">State4</option>
							</select>
							<p class="ts_ps">please enter your Last Name</p>
						</label>
						<label class="w_48 fr clearfix" for="">
							<select name="">
								<option value="">Country</option>
								<option value="">Country2</option>
								<option value="">Country3</option>
								<option value="">Country4</option>
							</select>
							<p class="ts_ps">please enter your Last Name</p>
						</label>
						<label class="clearfix" for="">
							<input type="text" value="+2345601634559"/>
							<p class="ts_ps">please enter your Last Name</p>
						</label>
						<div class="def_kg clearfix">
							<p>Set default address</p>
							<span class="kg "></span>
						</div>
						<input class="tj_a" type="submit" value="SAVE"/>
					</div>
				</form>
			</div>
		</div>
		
	 	<!--弹窗确定取消-->
	 	<div class="choice_tc clearfix">
	 		<div class="text">
	 			<p><span>Are you sure?</span></p>
	 			<div class="btn">
	 				<button class="qd_btn">Yes</button>
	 				<button class="qx_btn">No</button>
	 			</div>
	 		</div>
	 	</div>
		
		<!--返回顶部-->
		<div class="xf_right">
			<div class="vip"><a href="###"><span>VIP</span></a></div>
			<div class="top"><span>TOP</span></div>
		</div>
		
		<!--底部-->
		<div class="footer clearfix">
			<div class="content clearfix">
				<div class="left clearfix">
					<ul class="clearfix">
	                  	<li>
	            			<h4>INFORMATION</h4>
	                      	<a href="#" target="_blank">About Us</a>
	                      	<a href="#" target="_blank">After Sale Service</a>
	                      	<a href="#" target="_blank">Privacy Policy</a>
	                      	<a href="#" target="_blank">Hair Club</a>
	                    </li>
	                 	<li>
	            			<h4>BUYER INSTRUCTION</h4>
	                        <a href="#" target="_blank">How To Order</a>
	                        <a href="#" target="_blank">FAQ</a>
	                        <a href="#" target="_blank">Shipment & Pay</a>
	                        <a href="#" target="_blank">Return Policy</a>
	                    </li>
	                  	<li>
	          	 			<h4>MY ACCOUNT</h4>
	                        <a href="#" target="_blank">My Account</a>
	                        <a href="#" target="_blank">My Order</a>
	                        <a href="#" target="_blank">My Wish List</a>
	                        <a href="#" target="_blank">Site Map</a>
	                  	</li>
	                    <li>
	          	 			<h4>COMPANY INFO</h4>
	                        <p><span>Call Us:</span> U.S No: 6262487420</p>
	                        <p><span>Whatsapp:</span> +8615800028742</p>
	                        <p><span>Email:</span> rebecca@hotbeautyhair.com</p>
	                    	<p style="max-width:260px;line-height: 18px;margin-top: 3px;margin-bottom: 0;">
	                    		<span>Address:</span>
	                    		R6403, Jiahe Creative Industry Park, No.63 of North Huangbian Road, 
								Baiyun District, Guangzhou, China.
							</p>
	                  	</li>
	                  	<li>
	                  		<h4>SUBSCRIBE</h4>
		            		<p>Be the first to know about our latest products.</p>
				            <input value="" placeholder="Your Email Address">
				            <button type="submit">SUBMIT</button>
				            <ol class="clearfix">
				            	<li><a href="###"><img src="img/png/fot_1.png" alt=""></a></li>
				            	<li><a href="###"><img src="img/png/fot_3.png" alt=""></a></li>
				            	<li><a href="###"><img src="img/png/fot_4.png" alt=""></a></li>
				            </ol>
	                  	</li>
			        </ul>
				</div>
			</div>
			<div class="bot clearfix">
				<p>Copyright Notice &copy; 2016-2018 www.hotbeautyhairmall.com All rights reserved </p>
			</div>
		</div>
		
		<!--yd底部-->
		<div class="yd_footer hide clearfix">
			<div class="top">
				<ul class="ul_ydfot clearfix">
					<li>
            			<h4>INFORMATION <div class="pic_img"><img src="img/png/jiahao_white.png" data-img='img/png/jiahao_white.png' data-imgs='img/png/jianhao_white.png'  /></div></h4>
            			<div class="slide_div">
	            			<ol>
	            				<li><a href="###">About Us</a></li>
	            				<li><a href="###">After Sale Service</a></li>
	            				<li><a href="###">Privacy Policy</a></li>
	            				<li><a href="###">Hair Club</a></li>
	            			</ol>
	            		</div>
                    </li>
                 	<li>
            			<h4>BUYER INSTRUCTION<div class="pic_img"><img src="img/png/jiahao_white.png" data-img='img/png/jiahao_white.png' data-imgs='img/png/jianhao_white.png'  /></div></h4>
            			<div class="slide_div">
	            			<ol>
	            				<li><a href="###">How To Order</a></li>
	            				<li><a href="###">FAQ</a></li>
	            				<li><a href="###">Shipment & Pay</a></li>
	            				<li><a href="###">Return Policy</a></li>
	            			</ol>
	            		</div>
                    </li>
                  	<li>
          	 			<h4>MY ACCOUNT<div class="pic_img"><img src="img/png/jiahao_white.png" data-img='img/png/jiahao_white.png' data-imgs='img/png/jianhao_white.png'  /></div></h4>
          	 			<div class="slide_div">
	          	 			<ol>
	            				<li><a href="###">My Account</a></li>
	            				<li><a href="###">My Order</a></li>
	            				<li><a href="###">My Wish List</a></li>
	            				<li><a href="###">Site Map</a></li>
	            			</ol>
            			</div>
                  	</li>
                  	<li>
                  		<h4>COMPANY INFO<div class="pic_img"><img src="img/png/jiahao_white.png" data-img='img/png/jiahao_white.png' data-imgs='img/png/jianhao_white.png'  /></div></h4>
                  		<div class="slide_div">
	                  		<ol>
	            				<li><a href="###"><span>Call Us:</span> U.S No: 6262487420</li>
	            				<li><a href="###"><span>Whatsapp:</span> +8615800028742</a></li>
	            				<li><a href="###"><span>Email:</span> rebecca@hotbeautyhair.com</a></li>
	            				<li>
	            					<a href="###">
		            					<span>Address:</span>
			                    		R6403, Jiahe Creative Industry Park, No.63 of North Huangbian Road, 
										Baiyun District, Guangzhou, China.
	            					</a>
	            				</li>
	            			</ol>
	            		</div>
                  	</li>
                  	<li>
                  		<h4>SUBSCRIBE</h4>
                  		<div class="slide_div" style="display: block !important;">
                  			<p>Be the first to know about our latest products.</p>
				            <input value="" placeholder="Your Email Address">
				            <button type="submit">SUBMIT</button>
				            <ol class="fot_img clearfix">
				            	<li><a href="###"><img src="img/png/yd_fot1.png" alt=""></a></li>
				            	<li><a href="###"><img src="img/png/yd_fot3.png" alt=""></a></li>
				            	<li><a href="###"><img src="img/png/yd_fot4.png" alt=""></a></li>
				            </ol>
                  		</div>
                  	</li>
				</ul>
			</div>
			<p class="clearfix">Copyright Notice &copy; 2016-2018 www.hotbeautyhairmall.com All rights reserved</p>
		</div>
		<div class="yd_footer2 hide">
			<ol class="ol_ydfot clearfix">
				<li class="active">
					<a href="###">
						<img class="active" src="img/png/home-1.png" alt="" />
						<img src="img/png/home-2.png" alt="" />
						<p>HOME</p>
					</a>
				</li>
				<li>
					<a href="###">
						<img class="active" src="img/png/fenlei-1.png" alt="" />
						<img src="img/png/fenlei-2.png" alt="" />
						<p>ALL HAIR</p>
					</a>
				</li>
				<li>
					<a class="contact" href="javascript:0;">
						<img class="active" src="img/png/contact-1.png" alt="" />
						<img src="img/png/contact-2	.png" alt="" />
						<p>CONTACT</p>
					</a>
					<div class="a_text">
						<a href="###"><img src="img/jpg/fot_con1.jpg"/></a>
						<a href="###"><img src="img/jpg/fot_con2.jpg"/></a>
						<a href="###"><img src="img/jpg/fot_con3.jpg"/></a>
					</div>
				</li>
				<li>
					<a href="###">
						<img class="active" src="img/png/cart-1.png" alt="" />
						<img src="img/png/cart-2.png" alt="" />
						<p>CART</p>
					</a>
				</li>
				<li>
					<a href="###">
						<img class="active" src="img/png/account-1.png" alt="" />
						<img src="img/png/account-2.png" alt="" />
						<p>ACCOUNT</p>
					</a>
				</li>
			</ol>
		</div>
		
	</body>
</html>
<script type="text/javascript">
	$(function(){
		$(".def_kg .kg").click(function(){
			if($(this).hasClass("active")){
				$(this).removeClass("active");
			}else{
				$(this).addClass("active");
			}
		})
		
		$(".del").click(function(){
			$(".choice_tc").fadeIn();
			$("body").css("overflow","hidden");
		})
		
		$(".choice_tc .qx_btn").click(function(){
			$(".choice_tc").fadeOut();
			$("body").css("overflow","");
		})
		$(".choice_tc").click(function(e){
			var close = $('.choice_tc .text'); 
		   	if(!close.is(e.target) && close.has(e.target).length === 0){
		   		$(".choice_tc").fadeOut();
		   		$("body").css("overflow","");
			}
		})
		$(".choice_tc .qd_btn").click(function(){
			$(".choice_tc").fadeOut();
			$("body").css("overflow","");
			location.href="http://www.baidu.com";
		})
	})
</script>
